<template>
    <div>
        <div class="row">
            <div class="col-12 mt-4">
                <hr />
                <!-- List of matches on csv row -->
                <div v-if="UX.showMatches">
                    <!-- <virtual-list :size="80" :remain="8"> -->
                    <ul
                        class="list-group list-group-flush"
                        style="list-style-type: none;"
                    >
                        <list-item
                            v-for="release of matches"
                            v-on:preFillForm="preFillForm"
                            :key="release.sku"
                            :release="release"
                            image="https://via.placeholder.com/100"
                        />
                    </ul>
                    <!-- </virtual-list> -->
                </div>

                <div class="d-flex justify-content-center">
                    <div>
                        <pulse-loader
                            :loading="UX.loadingReleaseForm"
                            color="#0845F5"
                            size="15px"
                        ></pulse-loader>
                    </div>
                </div>

                <!-- Release import form -->
                <div v-if="UX.showReleaseForm">
                    <release-form
                        v-on:success="handleSuccesfullImport"
                        v-on:cancle="cancleReleaseForm"
                        :release="prefilledFormData"
                    ></release-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import virtualList from "vue-virtual-scroll-list";
import ListItem from "../../components/ListItem";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import ReleaseForm from "../../components/ReleaseForm";

export default {
    name: "PendingProduct",
    components: {
        "virtual-list": virtualList,
        "list-item": ListItem,
        "pulse-loader": PulseLoader,
        "release-form": ReleaseForm
    },
    props: {
        hide_results: Boolean,
        pending_product_id: Number,
        csv_id: Number,
        csv_row: Object,
        matches: Array,
        seller_data: Object
    },
    data() {
        return {
            UX: {
                loadingMatches: false,
                showMatches: true,
                showReleaseForm: false,
                loadingReleaseForm: false
            },
            prefilledFormData: {}
        };
    },
    methods: {
        handleSuccesfullImport(msg) {
            // remove the pending object from database
            this.deletePendingProduct();
            // show success message
            this.swalShowFormSubmitSuccess(msg);
        },
        deletePendingProduct() {
            const vm = this;
            axios
                .get(
                    `${window.location.origin}/api/release/delete/pending_custom_csv_product/${vm.pending_product_id}`,
                    {
                        headers: {
                            Authorization: "Bearer " + vm.jwt
                        }
                    }
                )
                .then(res => {
                    return true;
                })
                .catch(err => {
                    return false;
                });
        },
        swalShowFormSubmitSuccess(msg) {
            // Use sweetalert2
            this.$swal({
                icon: "success",
                title: "Successfully added to your store",
                text: msg,
                confirmButtonText: "Continue"
            }).then(result => {
                window.location = `${window.location.origin}/marketplace/discogs-csv-import/custom-csv-matches/${this.$props.csv_id}`;
            });
        },
        preFillForm(id) {
            this.UX.loadingReleaseForm = true;
            this.UX.showMatches = false;
            const vm = this;
            axios
                .get(`${window.location.origin}/api/release/find/${id}`, {
                    headers: {
                        Authorization: "Bearer " + vm.jwt
                    }
                })
                .then(res => {
                    // add release that was matched by id

                    //// NOTE!: populate the prefilledFormData with a comnbination of axios response AND the seller_data data prop.
                    vm.prefilledFormData = res.data.data;
                    vm.prefilledFormData.seller = { ...vm.parsed_seller_data };

                    console.log(vm.prefilledFormData);
                    vm.UX.loadingReleaseForm = false;
                    vm.UX.showReleaseForm = true;
                })
                .catch(err => {
                    console.log(err);
                    vm.swalFetchError(err.message);
                    vm.UX.loadingReleaseForm = false;
                    vm.UX.showMatches = true;
                });
        },
        insert(object, key, empty) {
            if (key in object) {
                return object[key];
            } else {
                return empty;
            }
        },
        cancleReleaseForm: function() {
            // close form
            this.UX.showReleaseForm = false;

            // show release matches list
            this.UX.showMatches = true;

            // empty this.prefilledFormData
            // ..
        }
    },
    mounted() {
        // console.log(this.$props.back_url);
    },
    created() {
        console.log(this.$props.csv_id);
    },
    computed: {
        csvRow: function() {
            return Object.keys(this.csv_row).map(k => {
                return { header: k, value: this.csv_row[k] };
            });
        },
        // a computed getter
        jwt: function() {
            var x = document.querySelector('meta[name="jwt"]');
            // `this` points to the vm instance
            if (x) {
                return x.getAttribute("content");
            } else {
                return false;
            }
        },
        parsed_seller_data: function() {
            // rename certain keys for form submittion
            // NTS: perhaps do one big sweep across system to equalize all key names, so that we dont have to parse the data.

            return {
                price: this.insert(this.seller_data, "price", null),
                is_owner: 0,
                shipping_price: null,
                description: "",
                private_comments: this.insert(
                    this.seller_data,
                    "private_comments",
                    ""
                ),
                storage_location: this.insert(this.seller_data, "location", ""),
                condition: this.insert(this.seller_data, "media_condition", ""), // media_condition
                sleeve_condition: "" //sleeve_condition
            };
        }
    }
};
</script>

<style></style>
