.product-filters input[type="text"] {
    border: 0;
    width: 230px;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    color: #181b19;
    background-color: #fff;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.product-filters input[type="submit"],
.product-filters .clear-filter-button {
    background-color: #181b19;
    color: #fff;
    border: 0;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 35px;
    padding-left: 35px;
}

.product-filters .clear-filter-button {
    display: inline-block;
    line-height: 45px;
}

.product-filters .product-filters-area .area-title {
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    letter-spacing: 0;
    margin-bottom: 25px;
}

.product-filters .product-filters-area .area-filtered-by-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-filters .product-filters-area .area-clear-all {
    font-size: 14px;
    text-decoration: underline;
}

.product-filters .product-filters-area .area-border-top {
    border-top: 2px solid #cfcfcf;
    padding-top: 20px;
    margin-top: 25px;
}

.product-filters .product-filters-area .area-head {
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 38px;
    margin-bottom: 0;
    position: relative;
}

.product-filters .product-filters-area .area-head:before {
    content: "";
    position: absolute;
    background-image: url(../../../img/dropdown-arrow.png);
    background-position: 0;
    background-repeat: no-repeat;
    top: 8px;
    left: 0;
    width: 12px;
    height: 7px;
    transform: rotate(180deg);
    transition: transform 0.35s ease-in-out;
}

.product-filters .product-filters-area .area-head.hide:before {
    transform: rotate(0deg);
}

.product-filters .product-filters-area .area-content {
    margin-top: 20px;
}

.product-filters .product-filters-area .area-content .content-checkbox {
    position: relative;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox {
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    border: 0;
    margin: -1px;
    position: absolute;
    left: -1000px;
    padding: 0;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url(../../../img/checks.png);
    background-position: 0;
    background-repeat: no-repeat;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox
    + label.checkbox-label {
    height: 31px;
    display: inline-block;
    line-height: 34px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 40px;
    margin-bottom: 5px;
}
.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox
    + label.checkbox-label.active {
    background-position: 0 -31px;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-label
    .label-grading {
    width: 26px;
    height: 26px;
    font-size: 10px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 10px;
}

.bg-grading-m {
    background-color: #28a745 !important;
}

.bg-grading-nm {
    background-color: #558b45 !important;
}

.bg-grading-vgp {
    background-color: #6c7d45 !important;
}

.bg-grading-vg {
    background-color: #826e45 !important;
}

.bg-grading-gp {
    background-color: #996045 !important;
}

.bg-grading-g {
    background-color: #af5245 !important;
}

.bg-grading-p {
    background-color: #dc3545 !important;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-info {
    font-size: 16px;
    position: absolute;
    top: 8px;
    right: 0;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-info
    .info-tooltip {
    display: none;
    width: 200px;
    z-index: 8;
    font-size: 14px;
    line-height: 20px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 28px;
}
