.condition-grading-circle {
    font-size: 20px;
    line-height: 1.1;
    color: #181b19;
    margin-bottom: 10px;
}

.condition-grading-circle.list-view {
    line-height: 1.2;
    font-weight: 400;
    color: rgba(24, 27, 25, 0.9);
}

.condition-grading-circle.small-text {
    font-size: 1rem;
    line-height: 1.625rem;
}

.condition-grading-circle .circle-text {
    width: 26px;
    height: 26px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 50%;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: top;
    background-color: #04baa5;
    color: rgba(24, 27, 25, 0.5);
}
