<template>
  <div>
      Destinations Picker

        <div class="card-header">
            <ul class="nav nav-justified">
                <li class="nav-item">
                    <a data-toggle="tab" href="#tab-0" class="nav-link show active">All</a>
                  </li>
                <li v-for="(continent, index) in this.tree" :key="continent.id" class="nav-item">
                    <a
                    data-toggle="tab"
                    :href="`#tab-${continent.id}`"
                    class="nav-link show"
                    :class="''"
                    >{{ continent.name }} 
                    </a>
                   
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content">

                <div id="tab-0" role="tabpanel" class="tab-pane show active">
                    <div class="row p-2 mt-2">
                        <div v-for="(country, index) in allSelectedCountries" :key="index" class="col-md-3">
                            <span>{{country.emoji}} {{country.name}}<button class="btn btn-sm btn-outline mb-1" @click="unlinkCountry(continent.id, country.id)">x</button></span>
                        </div>
                    </div>
                </div>

                <div 
                    v-for="(continent, index) in this.tree" :key="continent.id" 
                    :id="`tab-${continent.id}`" 
                    role="tabpanel" 
                    class="tab-pane"
                    :class="''"
                    >

                    <multiselect 
                        v-model="continent.selected" 
                        :options="continent.countries" 
                        :multiple="true" 
                        :close-on-select="false" 
                        :clear-on-select="false" 
                        :preserve-search="true" 
                        placeholder="Pick your countries" 
                        label="name" 
                        track-by="name" 
                        :preselect-first="false"
                        @input="emitCountryIds"
                    >


                        <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} countries selected</span></template>
                    
                        <template slot="option" slot-scope="props">
                            <div class="option__desc">
                                <span class="option__title">{{ props.option.emoji }}</span> <span class="option__small">{{ props.option.name }}</span>
                            </div>
                        </template>
                    
                    </multiselect>

                    <div class="row p-2 mt-2">
                        <div v-for="(country, index) in continent.selected" :key="index" class="col-md-3">
                            <span>{{country.emoji}} {{country.name}}<button class="btn btn-sm btn-outline mb-1" @click="unlinkCountry(continent.id, country.id)">x</button></span>
                        </div>
                    </div>


                    <!-- <pre class="language-json">
                        <code>{{ continent.selected.name  }}</code>
                    </pre> -->
                    
                    <!-- <div>
                        {{ continent.name }}
                    </div> -->
                </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {
    props: ["policyid", "sellerid"],
    data() {
        return {
            tree: []
        }
    },
    mounted(){
        if(this.$props.policyid){
            console.log(1);
            this.loadPolicyContinentCountryTree(this.$props.policyid);
        }else if(this.$props.sellerid){
            this.loadSellerContinentCountryTree(this.$props.sellerid);
        }else{
            console.log(3);
            this.loadBlankContinentCountryTree();
        }
        console.log('destination-picker created');
    },
  computed: {
    // a computed getter
    allSelectedCountries: function () {

        const array = [];
        this.tree.forEach((continent) => {
            if(continent.selected.length > 0){
                continent.selected.forEach((country) => {
                    array.push(country);
                })
            }
        });

        return array;

     // `this` points to the vm instance
    //   return this.message.split('').reverse().join('')
    }
  },
   methods: {
        // load all continents to populate a tab
        loadBlankContinentCountryTree: function() {
            const vm = this;
            axios
                .get(`${window.location.origin}/api/world/continentCountryTree`)
                .then(res => {

                    vm.tree = res.data.data;

                })
                .catch(err => {
                    console.log(err);
                });
        },
        loadSellerContinentCountryTree: function(id) {
            const vm = this;
            axios
                .get(`${window.location.origin}/api/world/continentCountryTreeBySellerId/${id}`)
                .then(res => {
                    vm.tree = res.data.data;
                    console.log(vm.tree);
                    console.log('loadSellerContinentCountryTree');
                })
                .catch(err => {
                    console.log(err);
                });
        },
        loadPolicyContinentCountryTree: function(id) {
            const vm = this;
            axios
                .get(`${window.location.origin}/api/world/continentCountryTreeByPolicyId/${id}`)
                .then(res => {
                    vm.tree = res.data.data;
                    console.log(vm.tree);
                    console.log('loadPolicyContinentCountryTree');
                })
                .catch(err => {
                    console.log(err);
                });
        },
        unlinkCountry(continent_id, country_id){
            this.tree.find(x => x.id === continent_id).selected = this.tree.find(x => x.id === continent_id).selected.filter(function( obj ) {
                return obj.id !== country_id;
            });
            this.emitCountryIds();
        },
        emitCountryIds(){
            // combine all selected country ids from each continent into 1 array of ids and emit this array to parent.
            var country_ids = [];
            this.tree.forEach(function(val, index){ 
                country_ids = [...country_ids, ...val.selected.map(obj => (obj.id))]
            });
            this.$emit('countryids', country_ids);
        }
   }

}
</script>

<style>

</style>