<template>
    <div class="card">
        <div class="card-header">
            <button
                @click="addEmptyRuleRow()"
                class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow"
            >
                <i class="lnr-plus-circle btn-icon-wrapper"></i>
            </button>
        </div>

        <div class="card-body">
            <table
                v-if="UX.addingRow"
                style="width: 100%;"
                id="example"
                class="table table-hover table-striped table-bordered"
            >
                <thead>
                    <tr>
                        <th style="width:5%;">Action</th>
                        <th>Max size (mm)</th>
                        <th>Weight (gr)</th>
                        <th>Base weight (gr)</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <td>
                            <div class="btn-group">

                            <button
                                @click="clearNewRangeRow()"
                                class="btn-icon btn-icon-only btn btn-warning btn-sm btn-shadow"
                            >
                                <i class="lnr-cross btn-icon-wrapper"></i>
                            </button>
                            <button
                                @click="saveNewRangeRow()"
                                class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow ml-1"
                            >
                                <i
                                    class="lnr-cloud-upload btn-icon-wrapper"
                                ></i>
                            </button>
                            </div>
                        </td>
                        <td>
                            <div class="form-row">
                                <div class="col-md-4 form-group">
                                    <label for="width">width</label>
                                    <input 
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="newRange.max_width"
                                    />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="length">length</label>
                                    <input 
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="newRange.max_length"
                                    />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="height">height</label>
                                    <input 
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="newRange.max_height"
                                    />
                                </div>
                            </div>
                        </td>
                        <td>
                             <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="width">from</label>
                                    <input 
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="newRange.weight_from"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="length">to</label>
                                    <input 
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="newRange.weight_to"
                                    />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <label for="weight">weight</label>
                                    <input 
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="newRange.base_weight"
                                    />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <label for="price">price</label>
                                    <input 
                                        type="text"
                                        class="form-control"
                                        v-model="newRange.price"
                                    />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table
                style="width: 100%;"
                id="example"
                class="table table-hover table-striped table-bordered"
            >
                <thead>
                    <tr>
                        <th style="width:5%;">Action</th>
                        <th>Max size (mm)</th>
                        <th>Weight (gr)</th>
                        <th>Base weight (gr)</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="range in ranges" v-bind:key="range.id">
                        <td>
                            <button
                                v-if="!range.editing"
                                @click="switchEditingMode(range.id)"
                                class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow"
                            >
                                <i class="lnr-pencil btn-icon-wrapper"></i>
                            </button>
                            <button
                                v-if="range.editing"
                                @click="updateFormatRule(range.id)"
                                class="btn-icon btn-icon-only btn btn-info btn-sm btn-shadow"
                            >
                                <i class="lnr-pencil btn-icon-wrapper"></i>
                            </button>
                            <button
                                v-if="range.editing"
                                @click="deleteFormatRule(range.id)"
                                class="btn-icon btn-icon-only btn btn-danger btn-sm btn-shadow"
                            >
                                <i class="lnr-trash btn-icon-wrapper"></i>
                            </button>
                            <button
                                v-if="range.editing"
                                @click="switchEditingMode(range.id)"
                                class="btn-icon btn-icon-only btn btn-warning btn-sm btn-shadow"
                            >
                                <i class="lnr-cross btn-icon-wrapper"></i>
                            </button>
                        </td>

                        <!--  -->
                        <td>
                            <div class="form-row">
                                <div class="col-md-4 form-group">
                                    <label for="width">width</label>
                                    <input 
                                        :disabled="!range.editing"
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="range.max_width"
                                    />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="length">length</label>
                                    <input 
                                        :disabled="!range.editing"
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="range.max_length"
                                    />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="height">height</label>
                                    <input 
                                        :disabled="!range.editing"
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="range.max_height"
                                    />
                                </div>
                            </div>
                        </td>
                        <td>
                             <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="width">from</label>
                                    <input 
                                        :disabled="!range.editing"
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="range.weight_from"
                                    />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="length">to</label>
                                    <input 
                                        :disabled="!range.editing"
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="range.weight_to"
                                    />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <label for="weight">weight</label>
                                    <input 
                                        :disabled="!range.editing"
                                        placeholder="mm"
                                        type="number"
                                        class="form-control"
                                        v-model="range.base_weight"
                                    />
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <label for="price">price</label>
                                    <input 
                                        :disabled="!range.editing"
                                        type="text"
                                        class="form-control"
                                        v-model="range.price"
                                    />
                                </div>
                            </div>
                        </td>




                        <!--  -->


                        <!-- <td>
                            <span v-if="rule.format"> {{ rule.format.name }} </span>
                        </td>
                        <td>
                            <span
                                v-for="description in rule.descriptions"
                                :key="description.id"
                            >
                                <span v-if="description.name"> {{ description.name }}, </span>
                            </span>
                        </td>
                        <td>
                            <div class="form-row">
                                <div
                                    class="col-md-4 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">w</span>
                                    </div>
                                    <input
                                        :disabled="!rule.editing"
                                        placeholder="cm"
                                        type="text"
                                        class="form-control"
                                        v-model="rule.width"
                                    />
                                </div>
                                <div
                                    class="col-md-4 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">l</span>
                                    </div>
                                    <input
                                        :disabled="!rule.editing"
                                        placeholder="cm"
                                        type="text"
                                        class="form-control"
                                        v-model="rule.length"
                                    />
                                </div>
                                <div
                                    class="col-md-4 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">h</span>
                                    </div>
                                    <input
                                        :disabled="!rule.editing"
                                        placeholder="cm"
                                        type="text"
                                        class="form-control"
                                        v-model="rule.height"
                                    />
                                </div>

                                <div
                                    class="col-md-12 mt-2 input-group input-group-sm"
                                >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            >weight</span
                                        >
                                    </div>
                                    <input
                                        :disabled="!rule.editing"
                                        placeholder="gr"
                                        type="text"
                                        class="form-control"
                                        v-model="rule.weight"
                                    />
                                </div>
                            </div>
                        </td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="width:5%;">Action</th>
                        <th>Max size (mm)</th>
                        <th>Weight (gr)</th>
                        <th>Base weight (gr)</th>
                        <th>Price</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import Multiselect from "vue-multiselect";

export default {
    name: "RangePicker",
    props: ["policyid"],
    components: {
        "multi-select": Multiselect
    },
    data() {
        return {
            ranges: [],
            newRange: {
                max_width: null,
                max_length: null,
                max_height: null,
                weight_from: null,
                weight_to: null,
                base_weight: null,
                price: "",
            },
            UX: {
                addingRow: false
            }
        };
    },
    mounted() {
        const vm = this;
        vm.loadTable();
    },
    methods: {
        loadTable: function() {
            const vm = this;
            axios
                .get(`${window.location.origin}/api/shipping/ranges/${vm.$props.policyid}`)
                .then(res => {
                    vm.ranges = res.data.data.map(obj => ({
                        ...obj,
                        editing: false
                    }));

                    console.log(vm.ranges);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        switchEditingMode: function(id) {
            var range = this.ranges.find(obj => obj.id === id);
            range.editing = !range.editing;
        },
        updateFormatRule: function(id) {
            const vm = this;
            var range = vm.ranges.find(obj => obj.id === id);

            const body = {
                max_width: range.max_width,
                max_length: range.max_length,
                max_height: range.max_height,
                weight_from: range.weight_from,
                weight_to: range.weight_to,
                base_weight: range.base_weight,
                price: range.price
            };

            axios
                .put(
                    `${window.location.origin}/api/shipping/ranges/${id}`,
                    body
                )
                .then(res => {
                    console.log("update succesfull");
                    vm.switchEditingMode(id);
                })
                .catch(err => {
                    console.log(err);
                });
        },
        deleteFormatRule: function(id) {
            const vm = this;
            axios
                .delete(
                    `${window.location.origin}/api/shipping/ranges/${id}`
                )
                .then(res => {
                    console.log("delete succesfull");
                    vm.ranges = vm.ranges.filter(function(obj) {
                        return obj.id !== id;
                    });
                })
                .catch(err => {
                    console.log(err);
                });
        },
        addEmptyRuleRow: function() {
            this.UX.addingRow = true;
        },
        clearNewRangeRow: function() {
            this.UX.addingRow = false;
            this.newRule = {
                max_width: null,
                max_length: null,
                max_height: null,
                weight_from: null,
                weight_to: null,
                base_weight: null,
                price: "",
            };
        },
        saveNewRangeRow() {
            const vm = this;
            const body = {
                policy_id: vm.$props.policyid,
                max_width: vm.newRange.max_width,
                max_length: vm.newRange.max_length,
                max_height: vm.newRange.max_height,
                weight_from: vm.newRange.weight_from,
                weight_to: vm.newRange.weight_to,
                base_weight: vm.newRange.base_weight,
                price: vm.newRange.price,
            };

            console.log(body);

            axios
                .post(
                    `${window.location.origin}/api/shipping/ranges`,
                    body
                )
                .then(res => {
                    vm.clearNewRangeRow();
                    // add rule to rules data (main table)
                    vm.loadTable();
                })
                .catch(err => {
                    console.log(err);
                });
        }
    }
};
</script>

<style>
@import "/themes/vinylheaven-seller-portal-theme/assets/css/base.min.css";
</style>
