.header .navbar .navbar-search {
    position: relative;
    width: 48%;
}

.header .navbar .navbar-search .search-form {
    position: absolute;
    top: -18px;
    width: 100%;
}

.header .navbar .navbar-search .search-form .search-input {
    position: relative;
    z-index: 2;
}
