<template>
    <div>
        <el-select
            v-model="value"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Search artist by name"
            :remote-method="remoteDataFetch"
            :loading="loading"
        >
            <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value"
            >
            </el-option>
        </el-select>
        <br />
        <ul>
            <li v-for="(item, index) in value" :key="index">"{{ item }}",</li>
        </ul>
        <!-- Render form input -->
        <RenderInput :artists="artists" />
    </div>
</template>

<script>
import {
    Select,
    Button
    // ...
} from "element-ui";
import RenderInput from "./RenderInput";

export default {
    name: "ArtistPicker",
    components: {
        RenderInput,
        Button
    },
    data() {
        return {
            artists: [
                {
                    id: 1,
                    name: "Jackson 5",
                    type: "group"
                },
                {
                    id: 2,
                    name: "Bruce Springsteen",
                    type: "solo"
                },
                {
                    id: 3,
                    name: "Bob marley",
                    type: "solo"
                },
                {
                    id: 4,
                    name: "Pink Floyd",
                    type: "group"
                },
                {
                    id: 5,
                    name: "Michael Jackson",
                    type: "solo"
                }
            ],
            options: [],
            value: [],
            list: [],
            loading: false
        };
    },
    mounted() {
        this.list = this.artists.map(item => {
            return {
                value: `id: ${item.id}`,
                label: `${item.name} - ( ${item.type} )`
            };
        });
    },
    methods: {
        remoteDataFetch(query) {
            if (query !== "") {
                this.loading = true;
                setTimeout(() => {
                    this.loading = false;
                    this.options = this.list.filter(item => {
                        return (
                            item.label
                                .toLowerCase()
                                .indexOf(query.toLowerCase()) > -1
                        );
                    });
                }, 200);
            } else {
                this.options = [];
            }
        }
    }
};
</script>

<style></style>
