<template>
  <div>
    <div v-for="artist in artists" :key="artist.id">
      <input type="hidden" :name="`${artist.type}_artist_ids[]`" :value="artist.id" />
    </div>
  </div>
</template>

<script>
export default {
  name: "RenderInput",
  props: {
    artists: Array
  }
};
</script>

<style>
</style>