.header .search-autocomplete {
}

.header .search-autocomplete {
}

.header .search-autocomplete .autocomplete-header {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(51, 53, 51, 0.4);
    border-bottom: 1px solid rgba(51, 53, 51, 0.4);
}
