.alert-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin-top: 64px;
    z-index: 99;
}

.alert-container .alert {
    border-radius: 0;
    min-height: 64px;
}
