@font-face {
    font-family: Adobe Devanagari;
    src: url(../../fonts/adobedevanagari/AdobeDevanagari-Regular.woff2)
            format("woff2"),
        url(../../fonts/adobedevanagari/AdobeDevanagari-Regular.woff)
            format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Adobe Devanagari;
    src: url(../../fonts/adobedevanagari/AdobeDevanagari-Italic.woff2)
            format("woff2"),
        url(../../fonts/adobedevanagari/AdobeDevanagari-Italic.woff)
            format("woff");
    font-weight: 400;
    font-style: italic;
}
