.cart-sellers-container .seller-container {
    width: 100%;
    padding: 1.8rem 1.6rem;
}

.cart-sellers-container .seller-container:hover {
    background: #eeeeee;
    border: 2px solid #181b19;
}

.cart-sellers-container .seller-container {
    background: #eeeeee;
    border: 2px solid #181b19;
}

.cart-sellers-container .seller-container.minicart-seller {
    border: none;
}

.cart-sellers-container .seller-container .seller-info {
    padding: 0.4rem 0px;
    border-bottom: 1px solid rgba(118, 120, 122, 0.4);
}

.cart-sellers-container .seller-container .seller-info .info-header {
    font-size: 1.1rem;
    font-weight: 400;
}

.cart-sellers-container .seller-container .seller-info .info-header .info-name {
    font-family: Adobe Devanagari, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.cart-sellers-container
    .seller-container
    .seller-info
    .info-header
    .info-sub-total {
    font-size: 1.1rem;
    font-weight: 400;
}

.cart-sellers-container .seller-container .seller-cart-items .cart-item {
    height: 6rem;
    max-height: 6rem;
    padding: 0.5rem 0px;
    border-bottom: 1px solid rgba(118, 120, 122, 0.4);
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image-container {
    width: 20%;
    min-width: 20%;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image-container::before {
    content: "";
    padding-top: 100%;
    float: left;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image {
    position: relative;
    width: 20%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image::before {
    content: "";
    padding-top: 100%;
    float: left;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-image
    img {
    position: absolute;
    width: 100%;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info {
    height: 5rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info
    .info-name {
    height: 2.5rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info
    .info-remove {
    padding-top: 1.46rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info
    .info-price {
    font-size: 0.9rem;
    padding-top: 1.5rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info-container {
    width: 80%;
    min-width: 80%;
    height: 88.05px;
    max-height: 88.05px;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info-container
    .info-quantity-name {
    height: 44.025px;
    max-height: 44.025px;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-info-container
    .info-price-remove {
    height: 44.025px;
    max-height: 44.025px;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-quantity {
    width: 10%;
    min-width: 10%;
}

.cart-sellers-container .seller-container .seller-cart-items .cart-item strong {
    font-weight: 500;
    font-size: 0.9rem;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-remove {
    width: 100%;
    height: 100%;
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-remove
    .remove-icon {
    /* font-size: 2rem; */
    color: rgba(118, 120, 122, 0.6);
}

.cart-sellers-container
    .seller-container
    .seller-cart-items
    .cart-item
    .item-remove
    .remove-icon:hover {
    color: rgba(118, 120, 122, 0.8);
}

.cart-sellers-container .seller-container .seller-checkout.accordion {
    border-top: 2px solid rgba(24, 27, 25, 0.2);
}

.cart-sellers-container .seller-container:hover .seller-checkout.accordion {
    border-top: 2px solid rgba(24, 27, 25, 0.4);
}

.cart-sellers-container .seller-container .seller-checkout.accordion .card {
    background-color: transparent;
    border-radius: 0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid rgba(24, 27, 25, 0.2);
}

.cart-sellers-container
    .seller-container:hover
    .seller-checkout.accordion
    .card {
    border-bottom: 2px solid rgba(24, 27, 25, 0.4);
}

.cart-sellers-container .seller-container .seller-checkout.accordion .card {
    border-bottom: 2px solid rgba(24, 27, 25, 0.4);
}

.cart-sellers-container
    .seller-container:hover
    .seller-checkout.accordion
    .card {
    background-color: #ffffff;
}

.cart-sellers-container .seller-container .seller-checkout.accordion .card {
    background-color: #ffffff;
}

.cart-sellers-container
    .seller-container
    .seller-checkout.accordion
    .card
    .card-header {
    background-color: transparent;
}

.cart-sellers-container
    .seller-container
    .seller-checkout.accordion
    .card
    .card-header
    .header-text {
    padding: 0.375rem 0.75rem;
    font-weight: 500;
}

.cart-sellers-container
    .seller-container:hover
    .seller-checkout.accordion
    .card
    .card-header {
    background-color: #dadada;
}

.cart-sellers-container
    .seller-container
    .seller-checkout.accordion
    .card
    .card-header {
    background-color: #dadada;
}
