/**
 *  CSS Table Of Contents
 *  1.  Imports, Requires And FontFaces
 *  2.  HTML Elements
 *  3.  Header
 *  4.  Main
 *  5.  Footer
 *  6.  Components
 *  6a  Components - Buttons
 *  6b. Components - Slider
 *  6c. Components - Usps
 *  6d. Components - Heading
 *  6e. Components - NewRecords
 *  6f. Components - Alerts
 *  6g. Components - Product View - Social
 *  6h. Components - Product View - Toolbar
 *
 *
 *
 *  10. Media Queries
 *  11. Bootstrap Overrules
 */

/**
 *  1.  Imports, Requires And FontFaces
 */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@font-face {
    font-family: Adobe Devanagari;
    src: url(../fonts/adobedevanagari/AdobeDevanagari-Regular.woff2)
            format("woff2"),
        url(../fonts/adobedevanagari/AdobeDevanagari-Regular.woff)
            format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Adobe Devanagari;
    src: url(../fonts/adobedevanagari/AdobeDevanagari-Italic.woff2)
            format("woff2"),
        url(../fonts/adobedevanagari/AdobeDevanagari-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
}

/**
 *  2.  HTML Elements
 */
body,
html {
    color: #181b19;
    background-color: #dadada;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    letter-spacing: 0.03em;
    font-family: Adobe Devanagari, sans-serif;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 30px;
}
@media only screen and (max-width: 991px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 0;
    }
}
h1 {
    font-size: 40px;
}
@media only screen and (max-width: 1199px) {
    h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 991px) {
    h1 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 10px;
    }
}
h2 {
    font-size: 35px;
}
@media only screen and (max-width: 1199px) {
    h2 {
        font-size: 15px;
    }
}
@media only screen and (max-width: 991px) {
    h2 {
        font-size: 11px;
    }
}
@media only screen and (max-width: 767px) {
    h2 {
        letter-spacing: -0.038em;
        font-size: 5px;
    }
}
h3 {
    font-size: 30px;
}
@media only screen and (max-width: 1199px) {
    h3 {
        font-size: 16px;
    }
}
@media only screen and (max-width: 991px) {
    h3 {
        font-size: 12px;
    }
}
h4 {
    font-size: 20px;
}
@media only screen and (max-width: 1199px) {
    h4 {
        font-size: 14px;
    }
}
@media only screen and (max-width: 991px) {
    h4 {
        font-size: 12px;
    }
}
h5 {
    font-size: 15px;
}
@media only screen and (max-width: 1199px) {
    h5 {
        font-size: 13px;
    }
}
@media only screen and (max-width: 991px) {
    h5 {
        font-size: 11px;
    }
}
@media only screen and (max-width: 767px) {
    h5 {
        font-weight: 700;
        font-size: 1px;
    }
}
h6 {
    font-size: 10px;
}

a {
    color: #333533;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

a:hover {
    color: #0d0e0d;
    text-decoration: none;
}

img {
    border-style: none;
}

img,
svg {
    vertical-align: middle;
}

img {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 60px;
    background: #fff;
    color: #333533;
    border: 2px solid #181b19;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: 0.8rem;
    z-index: 1;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
    margin-bottom: 0;
    position: relative;
}

li,
ol,
ul {
    list-style: none;
}
/**
 *  3.  Header
 */
.header .vinylheaven-mobile-navbar {
    position: relative;
    background: #eee;
    top: -2px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #181b19;
}

.header .navbar {
    padding: 0rem;
    margin-top: 9px;
    margin-bottom: 9px;
}

.header .navbar .navbar-toggler:focus {
    outline: none;
}

.header .navbar .navbar-toggler {
    border: none;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: rgba(0, 0, 0, 0.5);
    border: none;
}

.header .navbar .logo {
    max-width: none;
    max-height: 36px;
}

.header .navbar .navbar-menu {
    cursor: pointer;
}

.header .navbar .navbar-menu .navbar-menu-text {
    font-weight: 600;
}

.header .navbar .navbar-menu .navbar-menu-icon {
    font-size: 12px;
    vertical-align: 0.1rem;
}

.header .navbar .navbar-menu:hover .navbar-menu-container {
    opacity: 1;
    visibility: visible;
}

.header .navbar .navbar-menu .navbar-menu-container {
    position: absolute;
    margin-top: 0px;
    border: none;
    width: 100vw;
    margin-left: -50vw;
    top: 34px;
    left: 50%;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    visibility: hidden;
    padding-top: 19px;
}

.header .navbar .navbar-menu .navbar-menu-container.mobile {
    width: calc(100vw + 15px);
    margin-left: calc(-50vw - 15px);
    top: 33px;
    left: calc(50vw + 15px);
}

.header .navbar .navbar-menu .navbar-menu-container .navbar-menu-content {
    display: block;
    background-color: #eee;
    padding-left: calc((100vw - 1224px) / 2);
    padding-right: calc((100vw - 1224px) / 2);
    padding-top: 2rem;
    padding-bottom: 3.2rem;
}

.header .navbar .navbar-menu .navbar-menu-container .navbar-menu-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    background-color: #eee;
    padding-left: calc((100vw - 1224px) / 2);
    padding-right: calc((100vw - 1224px) / 2);
    padding-top: 4rem;
    padding-bottom: 3.2rem;
}

.header
    .navbar
    .navbar-menu
    .navbar-menu-container
    .navbar-menu-list
    .list-item.list-item-genres {
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
}

.header
    .navbar
    .navbar-menu
    .navbar-menu-container
    .navbar-menu-list
    .list-item
    a {
    font-size: 22px;
    color: #333533;
    transition: opacity 0.25s ease-in-out;
    padding-right: 0;
    font-weight: 600;
    position: relative;
}

.header
    .navbar
    .navbar-menu
    .navbar-menu-container
    .navbar-menu-list
    .list-item
    a:hover {
    opacity: 0.7;
}

.header
    .navbar
    .navbar-menu
    .navbar-menu-container
    .navbar-menu-list
    .list-item
    a
    sup {
    font-size: 10px;
    top: -10px;
    left: 5px;
}

.header .navbar .navbar-search {
    width: 38.8rem;
    max-width: 38.8rem;
}

.header .navbar .navbar-search.mobile {
    width: 100%;
    max-width: 96%;
}

.header .navbar .navbar-search .input-group {
    width: 38.8rem;
    position: relative;
}

.header .navbar .navbar-search.mobile .input-group {
    max-width: 100%;
    width: 100%;
}

.header .navbar .navbar-search .input-group:after {
    content: "";
    background: #b8b8b8;
    width: 38.8rem;
    height: 60px;
    border: 2px solid #181b19;
    position: absolute;
    top: -24px;
    right: -4px;
}

.header .navbar .navbar-search.mobile .input-group:after {
    right: -2.6%;
    max-width: 100%;
}

.header .navbar .navbar-search .navbar-search-input {
    z-index: 1;
    top: -20px;
    width: 38.8rem;
    height: 60px;
    font-weight: 600;
    background: #fff;
    color: #333533;
    border: 2px solid #181b19;
    padding-right: 60px;
    padding-left: 27px;
    position: absolute;
}

.header .navbar .navbar-search.mobile .navbar-search-input {
    left: 1.4%;
    max-width: 100%;
}

.header .navbar .navbar-search .navbar-search-button {
    top: -20px;
    right: 0px;
    width: 60px;
    height: 60px;
    border: 0;
    z-index: 1;
    background-size: 15px;
    background-color: transparent;
    background-image: url(../img/search-icon.png);
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
}

.header .navbar .navbar-search .navbar-search-autocomplete-container {
    position: absolute;
    margin-top: 0px;
    border: none;
    width: 100vw;
    margin-left: -50vw;
    top: 34px;
    left: 50%;
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    visibility: hidden;
    padding-top: 19px;
}

.header .navbar .navbar-search.mobile .navbar-search-autocomplete-container {
    top: 82px;
    width: calc(100vw + 15px);
    margin-left: calc(-50vw - 15px);
    left: calc(50vw + 15px);
}

.header .navbar .navbar-search .navbar-search-autocomplete-container.show {
    opacity: 1;
    visibility: visible;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content {
    position: relative;
    display: block;
    background-color: #eee;
    min-height: 4rem;
    padding-left: calc((100vw - 1224px) / 2);
    padding-right: calc((100vw - 1224px) / 2);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.header
    .navbar
    .navbar-search.mobile
    .navbar-search-autocomplete-container
    .autocomplete-content {
    padding-top: 0.2rem;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content
    .loading-results-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
    visibility: visible;
    padding-top: 1.2rem;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content
    .loading-results-container.hide {
    opacity: 0;
    visibility: hidden;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list
    .list-item {
    width: 50%;
}

.header
    .navbar
    .navbar-search.mobile
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list
    .list-item {
    width: 100%;
}

.header
    .navbar
    .navbar-search.mobile
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list
    .list-item
    ul
    li {
    padding: 0px 0.4rem;
}

.header
    .navbar
    .navbar-search.mobile
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list
    .list-item
    .item-name {
    font-weight: 600;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list
    .list-item
    .item-header {
    font-size: 0.8rem;
    color: rgba(51, 53, 51, 0.4);
    padding: 0.4rem 0.6rem;
    border-bottom: 1px solid rgba(51, 53, 51, 0.4);
    margin-bottom: 0.6rem;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list
    .releases {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list
    .releases
    .release-image {
    width: 100%;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list
    .artists {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header
    .navbar
    .navbar-search
    .navbar-search-autocomplete-container
    .autocomplete-content
    .content-list
    .artists
    .artist-image {
    width: 100%;
}

.header .navbar .navbar-user a {
    display: inline-block;
    width: 17px;
    vertical-align: -0.1rem;
}

.header .navbar .navbar-shop-wishlist a {
    display: inline-block;
    width: 17px;
}

.header .navbar .navbar-currency-switcher {
}

.header .navbar .navbar-currency-switcher .navbar-currency-current {
}

.header .navbar .navbar-currency-switcher .navbar-currency-switcher-icon {
    font-size: 12px;
    vertical-align: 0.1rem;
}

.header .navbar .navbar-currency-switcher .dropdown-toggle {
    font-weight: 600;
    color: #181b19;
}

.header .navbar .navbar-currency-switcher .dropdown-toggle:after {
    margin: 0;
    vertical-align: auto;
    border: none;
}

.header .navbar .navbar-shopping-cart a {
    display: inline-block;
    color: #181b19;
}

.header .navbar .navbar-shopping-cart a.button-bag {
    display: inline-flex;
}

.header .navbar .navbar-shopping-cart a img {
    display: inline-block;
    width: 17px;
    vertical-align: -0.08rem;
}

.header .navbar .navbar-shopping-cart h4.shopping-mini-cart-header {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.header .navbar .navbar-shopping-cart h5.shopping-mini-cart-subheader {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

.header .navbar .navbar-shopping-cart .shopping-mini-cart-bottom {
    margin-top: 1rem;
}

.tab-switcher {
    position: relative;
    background: #eeeeee;
    width: 100%;
    border: 2px solid #181b19;
    min-height: 50.5rem;
}

.was-validated .tab-switcher {
    min-height: 61.5rem;
}

.tab-switcher .switcher-panes {
    width: 100%;
}

.tab-switcher .switcher-panes .switcher-pane {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 1.8rem 1.6rem;
    transition: opacity 0.25s ease-in-out;
}

.tab-switcher .switcher-panes .switcher-pane {
    visibility: hidden;
    opacity: 0;
}

.tab-switcher .switcher-panes .switcher-pane.show {
    visibility: visible;
    opacity: 1;
}

.tab-switcher .switcher-tabs {
    position: absolute;
    background-color: #eeeeee;
    bottom: 0px;
    width: 100%;
    transition: opacity 0.25s ease-in-out;
}

.tab-switcher .switcher-tabs {
    visibility: hidden;
    opacity: 0;
}

.tab-switcher .switcher-tabs.show {
    visibility: visible;
    opacity: 1;
}

.tab-switcher .switcher-tabs .switcher-tab {
    background-color: #dadada;
    line-height: 3.4rem;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 5px 4px 2px rgba(65, 29, 29, 0.05);
    box-shadow: inset 0px 5px 4px 2px rgba(0, 0, 0, 0.05);
}

.tab-switcher .switcher-tabs .switcher-tab.active {
    background-color: #eeeeee;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.onepage-checkout input[type="text"],
.onepage-checkout input[type="email"] {
    height: 2.8rem;
}

.cart-sellers-container .seller-container {
    width: 100%;
    padding: 1.8rem 1.6rem;
}

.cart-sellers-container .seller-container:hover {
    background: #eeeeee;
    border: 2px solid #181b19;
}

.cart-sellers-container .seller-container {
    background: #eeeeee;
    border: 2px solid #181b19;
}

.cart-sellers-container .seller-container .seller-info {
    padding: 0.4rem 0px;
    border-bottom: 1px solid rgba(118, 120, 122, 0.4);
}

.cart-sellers-container .seller-container .seller-info .info-header {
    font-size: 1.1rem;
    font-weight: 400;
    /* color: rgba(118, 120, 122, 0.8); */
}

.cart-sellers-container .seller-container .seller-items .list-item {
    padding: 0.4rem 0px;
    border-bottom: 1px solid rgba(118, 120, 122, 0.4);
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-image-container {
    width: 20%;
    min-width: 20%;
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-image-container::before {
    content: "";
    padding-top: 100%;
    float: left;
}

.cart-sellers-container .seller-container .seller-items .list-item .item-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-image::before {
    content: "";
    padding-top: 100%;
    float: left;
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-image
    img {
    position: absolute;
    width: 100%;
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-info-container {
    width: 80%;
    min-width: 80%;
    height: 88.05px;
    max-height: 88.05px;
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-info-container
    .info-quantity-name {
    height: 44.025px;
    max-height: 44.025px;
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-info-container
    .info-price-remove {
    height: 44.025px;
    max-height: 44.025px;
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-quantity {
    width: 10%;
    min-width: 10%;
}

.cart-sellers-container .seller-container .seller-items .list-item strong {
    font-weight: 500;
    font-size: 0.9rem;
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-remove {
    width: 100%;
    height: 100%;
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-remove
    .remove-icon {
    /* font-size: 2rem; */
    color: rgba(118, 120, 122, 0.6);
}

.cart-sellers-container
    .seller-container
    .seller-items
    .list-item
    .item-remove
    .remove-icon:hover {
    color: rgba(118, 120, 122, 0.8);
}

.cart-sellers-container .seller-container .seller-checkout.accordion {
    border-top: 2px solid rgba(24, 27, 25, 0.2);
}

.cart-sellers-container .seller-container:hover .seller-checkout.accordion {
    border-top: 2px solid rgba(24, 27, 25, 0.4);
}

.cart-sellers-container .seller-container .seller-checkout.accordion .card {
    background-color: transparent;
    border-radius: 0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid rgba(24, 27, 25, 0.2);
}

.cart-sellers-container
    .seller-container:hover
    .seller-checkout.accordion
    .card {
    border-bottom: 2px solid rgba(24, 27, 25, 0.4);
}

.cart-sellers-container .seller-container .seller-checkout.accordion .card {
    border-bottom: 2px solid rgba(24, 27, 25, 0.4);
}

.cart-sellers-container
    .seller-container:hover
    .seller-checkout.accordion
    .card {
    background-color: #ffffff;
}

.cart-sellers-container .seller-container .seller-checkout.accordion .card {
    background-color: #ffffff;
}

.cart-sellers-container
    .seller-container
    .seller-checkout.accordion
    .card
    .card-header {
    background-color: transparent;
}

.cart-sellers-container
    .seller-container
    .seller-checkout.accordion
    .card
    .card-header
    .header-text {
    padding: 0.375rem 0.75rem;
    font-weight: 500;
}

.cart-sellers-container
    .seller-container:hover
    .seller-checkout.accordion
    .card
    .card-header {
    background-color: #dadada;
}

.cart-sellers-container
    .seller-container
    .seller-checkout.accordion
    .card
    .card-header {
    background-color: #dadada;
}

.genres-image-holder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
@media only screen and (max-width: 1325px) {
    .genres-image-holder {
        margin-left: 30px;
    }
}
@media only screen and (max-width: 991px) {
    .genres-image-holder {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-image-holder {
        display: none;
    }
}
.genres-image {
    width: 148px;
    transition: top 0.25s ease-in-out;
    margin-right: -32px;
    margin-left: -32px;
    position: relative;
    top: 0;
}
@media only screen and (max-width: 1325px) {
    .genres-image {
        width: 125px;
    }
}
@media only screen and (max-width: 991px) {
    .genres-image {
        width: 109px;
    }
}
.genres-image.is-active {
    transition: top 0.25s ease-in-out;
    top: -100px;
}
.genres-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 130px;
    margin: 0px;
    padding: 0px;
}
@media only screen and (max-width: 991px) {
    .genres-list {
        margin-bottom: 90px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-list {
        margin-bottom: 40px;
    }
}
.genres-list li {
    margin-right: 20px;
    margin-bottom: 8px;
}
@media only screen and (max-width: 1325px) {
    .genres-list li {
        margin-right: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-list li {
        width: 100%;
    }
}
.genres-list li a {
    font-size: 28px;
    display: block;
    border-bottom: 1px solid transparent;
    padding: 5px 18px;
}
@media only screen and (max-width: 991px) {
    .genres-list li a {
        font-size: 16px;
    }
}
@media only screen and (max-width: 767px) {
    .genres-list li a {
        padding: 0;
    }
}
.genres-list li a sup {
    font-size: 12px;
    top: -12px;
    margin-left: 5px;
}
@media only screen and (max-width: 991px) {
    .genres-list li a sup {
        top: -5px;
    }
}
.genres-list li a:hover {
    background-color: #fff;
    border-bottom: 1px solid #181b19;
}
@media only screen and (max-width: 767px) {
    .genres-list li a:hover {
        background-color: inherit;
    }
}

/**
 *  4.  Main
 */
main {
    min-height: 20vh;
    margin-top: 64px;
}

/**
 *  5.  Footer
 */
.footer {
    width: 100%;
    color: #fff;
    background-color: #181b19;
    padding-top: 95px;
    padding-bottom: 75px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 991px) {
    .footer {
        padding-top: 70px;
        padding-bottom: 60px;
    }
}
@media only screen and (max-width: 767px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 15px;
    }
}
.footer__title {
    letter-spacing: 0.02em;
    margin-bottom: 13px;
    position: relative;
}
@media only screen and (max-width: 991px) {
    .footer__title {
        font-size: 16px;
    }
}
.footer--title-arrow {
    text-transform: uppercase;
    padding-left: 25px;
}
@media only screen and (max-width: 767px) {
    .footer--title-arrow {
        text-align: center;
        text-transform: none;
        padding-left: 0;
    }
}
.footer--title-arrow:before {
    content: "";
    width: 12px;
    height: 1px;
    background: #fff;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}
@media only screen and (max-width: 767px) {
    .footer--title-arrow:before {
        display: none;
    }
}
.footer__text {
    font-size: 32px;
    letter-spacing: 0.02em;
}
@media only screen and (max-width: 1199px) {
    .footer__text {
        font-size: 30px;
    }
}
@media only screen and (max-width: 991px) {
    .footer__text {
        font-size: 24px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__text {
        font-size: 22px;
    }
}
.footer__social {
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px;
}
@media only screen and (max-width: 767px) {
    .footer__social {
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 0;
    }
}
.footer__social li {
    padding-top: 10px;
    padding-right: 18px;
}
@media only screen and (max-width: 1199px) {
    .footer__social li {
        padding-right: 12px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__social li {
        padding-right: 6px;
        padding-left: 6px;
    }
}
.footer__social li:last-child {
    padding-right: 0;
}
.footer__social li a {
    width: 36px;
    display: block;
}
.footer__social li a:hover {
    opacity: 0.7;
}
.footer__top {
    margin-bottom: 55px;
}
@media only screen and (max-width: 1325px) {
    .footer__top {
        margin-bottom: 90px;
    }
}
@media only screen and (max-width: 1199px) {
    .footer__top {
        margin-bottom: 60px;
    }
}
.footer__bottom {
    padding-bottom: 123px;
}
@media only screen and (max-width: 1325px) {
    .footer__bottom {
        padding-bottom: 90px;
    }
}
@media only screen and (max-width: 1199px) {
    .footer__bottom {
        padding-bottom: 50px;
    }
}
.footer__bottom p {
    font-size: 14px;
    color: #dadada;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 13px;
}
.footer__payments {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
@media only screen and (max-width: 767px) {
    .footer__payments {
        margin-bottom: 50px;
    }
}
.footer__payments li {
    padding-top: 10px;
    padding-right: 37px;
}
@media only screen and (max-width: 1199px) {
    .footer__payments li {
        padding-top: 10px;
        padding-right: 25px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__payments li {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .footer__payments li img {
        max-height: 23px;
    }
}
.footer__menu li {
    margin-bottom: 14px;
}
.footer__menu li a {
    font-size: 14px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    width: 160px;
    text-align: center;
    line-height: 60px;
    border: 2px solid #fff;
}
.footer__menu li a:hover {
    background: #fff;
    color: #000;
}
.footer__copyright {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .footer__copyright {
        display: block;
    }
}
.footer__copyright p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: hsla(0, 0%, 85%, 0.5);
}
@media only screen and (max-width: 767px) {
    .footer__copyright p {
        font-size: 10px;
        letter-spacing: 0;
        margin-bottom: 15px;
    }
}
.footer__copyright p a {
    color: hsla(0, 0%, 85%, 0.5);
}
.footer__copyright p a:hover {
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .footer__copyright-order1 {
        -ms-flex-order: 1;
        order: 1;
        padding-top: 5px;
    }
}
.footer__logo {
    width: 28px;
    vertical-align: top;
    display: inline-block;
    margin-top: -6px;
    margin-right: 7px;
}
@media only screen and (max-width: 767px) {
    .footer__logo {
        width: 24px;
    }
}
.footer .show-mobile {
    display: none;
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .footer .show-mobile {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .footer .hide-mobile {
        display: none;
    }
}

/**
 *  6.  Components
 */

/**
 *  6a. Components - Buttons
 */
.button {
    z-index: 1;
    height: 60px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #181b19;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    border: 2px solid #181b19;
    border-radius: 0;
    background: #b8b8b8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
    margin-bottom: 0;
    padding: 8px 30px 0 22px;
    position: relative;
}
.button:after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 2px solid #181b19;
    position: absolute;
    top: 4px;
    right: 4px;
}
.button.is-focused,
.button:focus,
.button:hover,
.button[type="button"]:hover,
.button[type="reset"]:hover,
.button[type="submit"]:hover {
    text-decoration: none;
    color: #fff;
}
.button.is-disabled,
.button.is-focused:after,
.button:disabled,
.button:focus:after,
.button:hover:after,
.button[type="button"]:hover:after,
.button[type="reset"]:hover:after,
.button[type="submit"]:hover:after {
    color: #fff;
    background-color: #181b19;
}
.button-arrow {
    padding-right: 55px;
}
.button-arrow:before {
    content: "";
    width: 16px;
    height: 12px;
    transform: translateY(-50%);
    margin-top: 5px;
    background-image: url(../img/button-arrow-black.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 22px;
}
.button-arrow:hover:before {
    background-image: url(../img/button-arrow-white.png);
    background-position: 0;
    background-repeat: no-repeat;
}
.button-bag {
    min-width: 240px;
    padding-right: 80px;
}
@media only screen and (max-width: 1199px) {
    .button-bag {
        min-width: 180px;
        padding-right: 55px;
        padding-left: 18px;
    }
}
.button-bag:before {
    content: "";
    width: 32px;
    height: 40px;
    transform: translateY(-50%);
    margin-top: 5px;
    position: absolute;
    top: calc(50% - 3px);
    right: 40px;
    background-image: url(../img/bag.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px auto;
}
@media only screen and (max-width: 1199px) {
    .button-bag:before {
        right: 12px;
    }
}
.button-bag:after {
    top: 2px;
    right: 2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
}
.button-bag:hover:before {
    background-image: url(../img/bag-hover.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px auto;
}

/**
 *  6b. Components - Slider
 */
.slider {
    border-bottom: 2px solid #181b19;
}
@media only screen and (max-width: 991px) {
    .slider {
        margin-bottom: 60px;
    }
}
.slider__repeat {
    display: none;
}
.slider__repeat:first-child {
    display: block;
}
.slider__holder {
    height: 600px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 1199px) {
    .slider__holder {
        height: 500px;
    }
}
@media only screen and (max-width: 991px) {
    .slider__holder {
        height: 400px;
    }
}
.slider__caption {
    text-align: center;
}
.slider__title {
    font-size: 20px;
    font-weight: 600;
    color: #181b19;
    text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
    .slider__title {
        padding-right: 30px;
        padding-left: 30px;
    }
}
.slider__count {
    color: #fff;
    font-weight: 600;
    font-size: 220px;
    line-height: 220px;
}
@media only screen and (max-width: 1199px) {
    .slider__count {
        font-size: 180px;
        line-height: 170px;
    }
}
@media only screen and (max-width: 991px) {
    .slider__count {
        font-size: 140px;
        line-height: 140px;
    }
}
@media only screen and (max-width: 767px) {
    .slider__count {
        font-size: 60px;
        line-height: 75px;
    }
}
.slider__button {
    font-size: 30px;
    background: none;
    padding-right: 70px;
    padding-left: 45px;
}
@media only screen and (max-width: 991px) {
    .slider__button {
        font-size: 24px;
        padding-right: 60px;
        padding-left: 35px;
    }
}
.slider__button:after {
    background: none;
}
.slider__button:before {
    content: "\f054";
    font-family: FontAwesome;
    width: 12px;
    height: 18px;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: 2px;
}
@media only screen and (max-width: 991px) {
    .slider__button:before {
        right: 30px;
    }
}

.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
    position: relative;
    display: block;
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after,
.slick-track:before {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-arrow {
    z-index: 9;
    width: 49px;
    font-size: 0;
    height: 49px;
    color: transparent;
    background-size: 9px 16px;
    background-color: transparent;
    border: 2px solid #181b19;
    transform: translateY(-50%);
    position: absolute;
    top: 40%;
    background-image: url(../img/left-arrow.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1325px) {
    .slick-arrow {
        width: 36px;
        height: 36px;
    }
}
.slick-arrow:hover {
    opacity: 0.8;
}
.slick-arrow:after {
    width: 2px;
    content: "";
    height: 49px;
    background-color: #181b19;
    position: absolute;
    top: 1px;
    right: -5px;
}
@media only screen and (max-width: 1325px) {
    .slick-arrow:after {
        height: 36px;
    }
}
.slick-arrow:before {
    width: 49px;
    content: "";
    height: 2px;
    background-color: #181b19;
    position: absolute;
    bottom: -5px;
    left: 1px;
}
@media only screen and (max-width: 1325px) {
    .slick-arrow:before {
        width: 36px;
    }
}
.slick-arrow.slick-prev {
    left: -70px;
}
@media only screen and (max-width: 1509px) {
    .slick-arrow.slick-prev {
        left: -30px;
    }
}
@media only screen and (max-width: 1340px) {
    .slick-arrow.slick-prev {
        left: -15px;
    }
}
@media only screen and (max-width: 1325px) {
    .slick-arrow.slick-prev {
        left: 5px;
    }
}
@media only screen and (max-width: 1199px) {
    .slick-arrow.slick-prev {
        left: -5px;
    }
}
.slick-arrow.slick-next {
    right: -85px;
    background-image: url(../img/right-arrow.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1509px) {
    .slick-arrow.slick-next {
        right: -30px;
    }
}
@media only screen and (max-width: 1340px) {
    .slick-arrow.slick-next {
        right: -15px;
    }
}
@media only screen and (max-width: 1325px) {
    .slick-arrow.slick-next {
        right: 5px;
    }
}
@media only screen and (max-width: 1199px) {
    .slick-arrow.slick-next {
        right: -5px;
    }
}
.slick-arrow:focus {
    outline: none;
}

/**
 *  6c. Components - Usps
 */
.usps {
    border-bottom: 2px solid #d0d0d0;
    margin-bottom: 100px;
}
@media only screen and (max-width: 1325px) {
    .usps {
        margin-bottom: 60px;
    }
}
.usps__list {
    display: block;
    position: relative;
    padding-left: 40px;
}
@media only screen and (max-width: 767px) {
    .usps__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0;
    }
}
.usps__listing {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 58px;
    margin-right: -32px;
    margin-bottom: 0;
    margin-left: -32px;
}
@media only screen and (max-width: 767px) {
    .usps__listing {
        height: auto;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: -15px;
        margin-left: -15px;
    }
}
.usps__listing li {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 32px;
    padding-left: 32px;
    position: relative;
}
@media only screen and (max-width: 767px) {
    .usps__listing li {
        width: 100%;
        font-size: 16px;
        text-align: center;
        border-top: 1px solid #d0d0d0;
        padding: 2px 0;
    }
}
.usps__listing li:after {
    content: "";
    background: #b3b4b3;
    width: 2px;
    height: 10px;
    position: absolute;
    top: 4px;
    right: -1px;
}
@media only screen and (max-width: 1199px) {
    .usps__listing li:after {
        top: 15px;
    }
}
@media only screen and (max-width: 767px) {
    .usps__listing li:after {
        display: none;
    }
}
.usps__listing li img {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}
@media only screen and (max-width: 767px) {
    .usps__listing li img {
        transform: translateY(0);
        position: relative;
        top: 0;
        margin-right: 20px;
    }
}
.usps__listing li:last-child img {
    transform: translateX(0);
    position: relative;
    top: 0;
}
@media only screen and (max-width: 767px) {
    .usps__listing li:last-child img {
        max-width: 233px;
        margin-right: 0;
    }
}
.usps__listing li:last-child .usps__list {
    padding-left: 0;
}
.usps__listing li:last-child:after {
    display: none;
}
@media only screen and (max-width: 991px) {
    .usps__mb-hide {
        display: none;
    }
}
.usps__dk-hide {
    display: none;
}
@media only screen and (max-width: 767px) {
    .usps__dk-hide {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    .usps--product {
        border-bottom: 0;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .usps--product .usps__listing li:first-child {
        border-top: 0;
    }
}

/**
 *  6d. Heading
 */
.heading {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 60px;
}

.heading.subtitle {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
    .heading {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 991px) {
    .heading {
        margin-bottom: 20px;
    }
}

.heading .title {
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    position: relative;
    padding-left: 40px;
}

.heading h2 {
    font-size: 58px;
}

.heading.subtitle h2 {
    font-size: 3rem;
}

@media only screen and (max-width: 1199px) {
    .heading h2 {
        font-size: 44px;
    }
}
@media only screen and (max-width: 991px) {
    .heading h2 {
        font-size: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .heading h2 {
        font-size: 30px;
        padding-left: 0px;
    }
}
.heading h2:after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #191b1a;
    position: absolute;
    top: 25px;
    left: 0;
}
@media only screen and (max-width: 1199px) {
    .heading h2:after {
        top: 16px;
    }
}
@media only screen and (max-width: 767px) {
    .heading h2:after {
        width: 24px;
    }
}
.heading--banner h2:after {
    background-color: #fff;
}
.heading__more {
    line-height: 1;
    font-size: 28px;
    font-style: italic;
    display: inline-block;
    letter-spacing: 0.01em;
    color: #181b19;
    font-family: Adobe Devanagari, sans-serif;
    position: relative;
    padding: 3px 45px 3px 46px;
    margin-top: 19px;
}
@media only screen and (max-width: 1199px) {
    .heading__more {
        margin-top: 9px;
    }
}
@media only screen and (max-width: 991px) {
    .heading__more {
        font-size: 26px;
        margin-top: 6px;
        padding: 3px 40px 3px 32px;
    }
}
@media only screen and (max-width: 767px) {
    .heading__more {
        display: none;
    }
}
.heading__more:after {
    width: 28px;
    content: "";
    height: 28px;
    display: block;
    border-radius: 50%;
    background-size: 6px 12px;
    border: 2px solid #181b19;
    position: absolute;
    top: 1px;
    right: 0;
    background-image: url(../img/right-arrow.png);
    background-position: 50%;
    background-repeat: no-repeat;
}
.heading__more:before {
    content: "";
    width: 15px;
    height: 2px;
    background-color: #181b19;
    position: absolute;
    top: 14px;
    left: 0;
}
.heading--white h2 {
    color: #fff;
}
.heading--white h2:after {
    background-color: #fff;
}

/**
 *  6e. Components - NewRecords
 */
.new-records {
    z-index: 9;
    width: 100%;
    margin-bottom: 97px;
    position: relative;
}

@media only screen and (max-width: 1284px) {
    .new-records {
        margin-bottom: 70px;
    }
}

.product-card {
    height: 388px;
    position: relative;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1284px) {
    .product-card {
        height: 350px;
    }
}

@media only screen and (max-width: 767px) {
    .product-card {
        height: auto;
        margin-bottom: 0;
    }
}

.product-card:hover {
    top: -0.9rem;
}

@media only screen and (max-width: 767px) {
    .product-card:hover {
        top: 0;
    }
}

.product-card-list {
    width: 250px;
    display: block;
}
@media only screen and (max-width: 1325px) {
    .product-card-list {
        width: 175px;
    }
}
@media only screen and (max-width: 767px) {
    .product-card-list {
        width: 100%;
    }
}

.product-card-area {
    font-size: 0.8rem;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.6rem;
}
.product-card-area-year {
    height: 1rem;
}

@media only screen and (max-width: 767px) {
    .product-card-area {
        font-size: 10px;
        padding-bottom: 5px;
    }
}

.product-card:hover .product-card-area {
    border: 2px solid #181b19;
    width: calc(100% + 12px);
    padding: 10px;
    position: relative;
    left: -6px;
}
@media only screen and (max-width: 1284px) {
    .product-card:hover .product-card-area {
        left: -4px;
        width: calc(100% + 8px);
    }
}
@media only screen and (max-width: 767px) {
    .product-card:hover .product-card-area {
        left: 0;
        width: 100%;
        border: 2px solid transparent;
        padding-top: 0;
        padding-bottom: 5px;
    }
}

.product-card-amount-of-records {
    position: relative;
    padding-right: 18px;
}
@media only screen and (max-width: 767px) {
    .product-card-amount-of-records {
        padding-right: 15px;
    }
}
.product-card-amount-of-records:after {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/disc-plate.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
@media only screen and (max-width: 767px) {
    .product-card-amount-of-records:after {
        width: 12px;
        height: 12px;
        background-size: 12px;
    }
}

.product-card-image {
    position: relative;
    height: 250px;
    max-width: 100%;
    min-width: 100%;
    max-height: 250px;
    margin-bottom: 15px;
    z-index: 1;
    overflow: hidden;
}

.product-card:hover .product-card-image {
    transform: scale(1.05);
}

@media only screen and (max-width: 767px) {
    .product-card-image {
        margin-bottom: 10px;
    }
}
.product-card-image img {
    transform: scale(1);
    width: 100%;
    min-width: 100%;
}
.product-card:hover img {
    transform: scale(1.05);
}
.product-card:hover .product-card-content {
    position: relative;
}
.product-card:hover .product-card-content:before {
    width: 280px;
    height: 280px;
    content: "";
    border: 2px solid #181b19;
    position: absolute;
    bottom: 0;
    left: 0;
}
@media only screen and (max-width: 1325px) {
    .product-card:hover .product-card-content:before {
        width: 220px;
        height: 220px;
    }
}
@media only screen and (max-width: 767px) {
    .product-card:hover .product-card-content:before {
        display: none;
    }
}

.product-card-title {
    max-height: 1.2rem;
    font-weight: 500;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 2px;
    overflow: hidden;
}

.product-card:hover .product-card-title {
    max-height: none;
}
@media only screen and (max-width: 767px) {
    .product-card-title {
        font-size: 12px;
        padding-left: 10px;
    }
}
.product-card-category {
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    padding-left: 15px;
    margin-bottom: 2px;
}
@media only screen and (max-width: 767px) {
    .product-card-category {
        font-size: 12px;
        padding-left: 10px;
    }
}

.product-card-price {
    position: relative;
    font-size: 14px;
    font-weight: 500;
}

.product-card:hover .product-card-price {
    top: -2px;
    line-height: 36px;
    vertical-align: middle;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}
.product-card:hover .product-card-price.price-from {
    border: none;
    margin-right: 10px;
}

.product-card-add-to-bag-form {
    display: none;
    height: 38px;
    min-width: 150px;
    padding: 0px;
}

.product-card-add-to-bag-form.list-view {
    display: block;
}

.product-card-add-to-bag-button {
    display: block;
    background: #181b19;
    top: -2px;
    width: calc(100% - 11px);
    height: 38px;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 40px;
    padding-left: 15px;
    position: relative;
    border: none;
}

.product-card-add-to-bag-button:disabled {
    border: none;
    background: rgba(118, 118, 118, 0.3);
}

.product-card-add-to-bag-button:after {
    content: "";
    width: 13px;
    height: 15px;
    transform: translateY(-50%);
    background-image: url(../img/icon-bag.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 15px;
}

.product-card-add-to-bag-button:hover {
    color: #ffffff;
}

.product-card:hover .product-card-add-to-bag-form {
    display: ms-inline-flex;
    display: inline-flex;
}

/**
 *  6f. Components - Alerts
 */
.vinylheaven-alert-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
    margin-top: 64px;
    z-index: 99;
}

.vinylheaven-alert-container .alert {
    border-radius: 0;
}

/**
 *  6g. Products View - Social
 */
.product-social {
    margin-top: 8rem;
    margin-bottom: 2.5rem;
}

.product-social .col-auto {
    padding-left: 0.38rem;
    padding-right: 0.38rem;
}

.product-social .social-icon-container {
    display: block;
    background-color: #181b19;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    color: #dadada;
    text-align: center;
    border-radius: 100%;
}

.product-gallery {
    z-index: 2;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding-right: 65px;
    padding-left: 90px;
}

.product-gallery:after {
    z-index: -1;
    width: 100%;
    height: 2px;
    content: "";
    background-color: #000;
    position: absolute;
    top: 98px;
    left: 0;
}

.product-format {
    font-size: 14px;
    font-weight: 600;
    padding-top: 17px;
    padding-left: 60px;
    position: absolute;
    top: 20px;
    left: 0;
}

.product-format:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/video-icon.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.product-slider {
    width: 100%;
    background-color: #dadada;
}

.product-slider figure:first-child {
    display: block;
}

.product-slider figure img {
    max-width: 100%;
    min-width: 100%;
}

.product-slider figure figcaption:before {
    content: "";
    width: 12px;
    height: 1px;
    background-color: #76787a;
    position: absolute;
    top: 7px;
    left: 0;
}
.product-slider figure figcaption {
    font-size: 10px;
    color: #76787a;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin-top: 13px;
    position: relative;
    padding-left: 21px;
}

.product-slider-nav {
    -ms-flex-order: -1;
    order: -1;
    width: 87px;
    position: absolute !important;
    margin-top: auto;
    padding-right: 35px;
    padding-bottom: 29px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.product-slider-nav figure {
    width: 53px;
    margin-top: 18px;
    position: relative;
}

.product-slider-nav figure:after {
    width: 100%;
    height: 100%;
    content: "";
    border: 3px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.product-details {
    padding-top: 1rem;
}

.product-details.list-view {
    padding-top: 0;
}

.product-details .details-title {
    display: block;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #181b19;
    padding-top: 4px;
}

.product-details .details-title.list-view {
    font-size: 1.3rem;
}

.product-details .details-artist-name {
    display: block;
    position: relative;
    width: 100%;
    font-family: Adobe Devanagari, sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    color: #181b19;
    margin-bottom: 5px;
}

.product-details .details-artist-name.list-view {
    font-size: 2rem;
}

.product-details .details-artist-name span {
    display: inline-block;
    position: relative;
    background-color: #dadada;
    padding-right: 10px;
    z-index: 1;
}

.product-details .details-artist-name:after {
    content: "";
    position: absolute;
    background-color: #181b19;
    bottom: 18px;
    right: 0;
    width: 100%;
    height: 2px;
}

.product-details .details-heading {
    margin-bottom: 0.1rem;
}

.product-details .details-info {
    margin-bottom: 0.5rem;
}

.product-heading {
    display: block;
    position: relative;
    width: 100%;
    font-family: Adobe Devanagari, sans-serif;
    font-size: 40px;
    font-style: italic;
    color: #181b19;
    margin-bottom: 5px;
}

.product-heading span {
    display: inline-block;
    position: relative;
    background-color: #dadada;
    padding-right: 10px;
    z-index: 1;
}

.product-heading:after {
    content: "";
    position: absolute;
    background-color: #181b19;
    bottom: 18px;
    right: 0;
    width: 100%;
    height: 2px;
}

.product-sellers {
    margin-top: 4rem;
    margin-bottom: 8rem;
}
.product-sellers-table thead th {
    font-size: 12px;
    font-weight: 400;
    color: #76787a;
    text-transform: uppercase;
    border-bottom: 2px solid #cfcfcf;
    border-top: none;
}
.product-sellers-table td {
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid #cfcfcf;
}

.product-sellers-table td:first-child {
    border-left: 2px solid #cfcfcf;
}

.product-sellers-table td:last-child {
    border-right: 2px solid #cfcfcf;
}

.product-sellers-table td cite {
    display: inline-block;
    max-width: 34%;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
}

.condition-grading-circle {
    font-size: 20px;
    line-height: 1.1;
    color: #181b19;
    margin-bottom: 10px;
}

.condition-grading-circle.list-view {
    line-height: 1.2;
    font-weight: 400;
    color: rgba(24, 27, 25, 0.9);
}

.condition-grading-circle .circle-text {
    width: 26px;
    height: 26px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 50%;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: top;
    background-color: #04baa5;
    color: rgba(24, 27, 25, 0.5);
}

.condition-grading-circle .circle-text.very-good-plus {
    background-color: #21dc4b;
}

.product-info {
    width: 100%;
    background-color: #d0d0d0;
    padding-top: 85px;
    padding-bottom: 75px;
    position: relative;
}

.product-info:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 21.5px 0;
    border-color: #dadada transparent transparent;
    margin-left: -21px;
    position: absolute;
    top: 0;
    left: 50%;
}

.product-info .info-heading {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    font-family: Poppins, sans-serif;
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
    margin-right: 80px;
    margin-bottom: 40px;
}

.product-info .info-list {
    max-width: 500px;
    margin-bottom: 0;
    margin-left: 0;
}

.product-info .info-list .list-item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.45;
    font-weight: 500;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-bottom: 21px;
}

.product-info .info-list .list-item p {
    margin-bottom: 0;
}

.product-info .info-list .list-item .item-col-1 {
    width: 42px;
    font-weight: 600;
    color: #76787a;
    text-decoration: underline;
}

.product-info .info-list .list-item .item-col-2 {
    width: calc(100% - 142px);
}

.product-info .info-list .list-item .item-col-3 {
    width: 100px;
    font-weight: 600;
    color: #76787a;
    text-align: right;
    text-decoration: none;
    padding-right: 5px;
}

.product-info .info-list .list-item .item-left {
    width: 160px;
    font-weight: 500;
    color: #76787a;
    text-decoration: underline;
}

.product-info .info-list .list-item .item-right {
    width: calc(100% - 160px);
}

/**
 *  6h. Components - Product View - Toolbar
 */
.product-view-toolbar {
    border-bottom: 1px solid #c6c7c6;
    padding-top: 55px;
    padding-bottom: 35px;
    margin-bottom: 100px;
}

.product-view-toolbar .toolbar-result {
    line-height: 1.2;
    position: relative;
}

.product-view-toolbar .toolbar-result .result-count {
    font-size: 22px;
    font-weight: 400;
}

.product-view-toolbar .toolbar-result .result-term {
    font-size: 32px;
    font-weight: 600;
}

.product-view-toolbar .toolbar-limit {
    line-height: 4rem;
}
.product-view-toolbar .toolbar-limit .limit-title {
    font-size: 14px;
    font-weight: 600;
    margin-right: 1.8rem;
}

.product-view-toolbar .toolbar-limit .limit-select .select-dropdown {
    width: 175px;
    height: 30px;
    line-height: 100%;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    background-color: #cfcfcf;
    -webkit-appearance: none;
    padding-right: 50px;
    padding-left: 20px;
    background-image: url(../img/dropdown-arrow.png);
    background-position: 93%;
    background-repeat: no-repeat;
}

.product-view-toolbar .toolbar-sort {
    line-height: 4rem;
}
.product-view-toolbar .toolbar-sort .sort-title {
    font-size: 14px;
    font-weight: 600;
    margin-right: 1.8rem;
}

.product-view-toolbar .toolbar-sort .sort-select .select-dropdown {
    width: 175px;
    height: 30px;
    line-height: 100%;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    background-color: #cfcfcf;
    -webkit-appearance: none;
    padding-right: 50px;
    padding-left: 20px;
    background-image: url(../img/dropdown-arrow.png);
    background-position: 93%;
    background-repeat: no-repeat;
}

.product-view-toolbar .toolbar-view {
    line-height: 4rem;
}
.product-view-toolbar .toolbar-view .view-title {
    font-size: 14px;
    font-weight: 600;
    margin-right: 1.8rem;
}

.product-view-toolbar .toolbar-view .switcher-icon {
    width: 30px;
    height: 30px;
    background-color: #cfcfcf;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
}

.product-view-toolbar .toolbar-view .switcher-icon.is-active {
    background-color: #fff;
}

.product-filters input[type="text"] {
    border: 0;
    width: 230px;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    color: #181b19;
    background-color: #fff;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.product-filters input[type="submit"],
.product-filters .clear-filter-button {
    background-color: #181b19;
    color: #fff;
    border: 0;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 35px;
    padding-left: 35px;
}

.product-filters .clear-filter-button {
    display: inline-block;
    line-height: 45px;
}

.product-filters .product-filters-area .area-title {
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    letter-spacing: 0;
    margin-bottom: 25px;
}

.product-filters .product-filters-area .area-filtered-by-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-filters .product-filters-area .area-clear-all {
    font-size: 14px;
    text-decoration: underline;
}

.product-filters .product-filters-area .area-border-top {
    border-top: 2px solid #cfcfcf;
    padding-top: 20px;
    margin-top: 25px;
}

.product-filters .product-filters-area .area-head {
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 38px;
    margin-bottom: 0;
    position: relative;
}

.product-filters .product-filters-area .area-head:before {
    content: "";
    width: 12px;
    height: 7px;
    transform: rotate(180deg);
    background-image: url(../img/dropdown-arrow.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 0;
}

.product-filters .product-filters-area .area-head.hide:before {
    transform: rotate(0deg);
}

.product-filters .product-filters-area .area-content {
    margin-top: 20px;
}

.product-filters .product-filters-area .area-content .content-checkbox {
    position: relative;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox {
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    border: 0;
    margin: -1px;
    position: absolute;
    left: -1000px;
    padding: 0;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url(../img/checks.png);
    background-position: 0;
    background-repeat: no-repeat;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox
    + label.checkbox-label {
    height: 31px;
    display: inline-block;
    line-height: 34px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 40px;
    margin-bottom: 5px;
}
.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox
    + label.checkbox-label.active {
    background-position: 0 -31px;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-label
    .label-grading {
    width: 26px;
    height: 26px;
    font-size: 10px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 10px;
}

.bg-grading-m {
    background-color: #28a745 !important;
}

.bg-grading-nm {
    background-color: #558b45 !important;
}

.bg-grading-vgp {
    background-color: #6c7d45 !important;
}

.bg-grading-vg {
    background-color: #826e45 !important;
}

.bg-grading-gp {
    background-color: #996045 !important;
}

.bg-grading-g {
    background-color: #af5245 !important;
}

.bg-grading-p {
    background-color: #dc3545 !important;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-info {
    font-size: 16px;
    position: absolute;
    top: 8px;
    right: 0;
}

.product-filters
    .product-filters-area
    .area-content
    .content-checkbox
    .checkbox-info
    .info-tooltip {
    display: none;
    width: 200px;
    z-index: 8;
    font-size: 14px;
    line-height: 20px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 28px;
}

.result-list .list-item {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.result-list .list-item .item-year-amount {
    padding-bottom: 0.6rem;
}

.result-list .list-item .item-amount-of-records {
    padding-right: 18px;
}

.result-list .list-item .item-amount-of-records:after {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/disc-plate.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 15px;
}

.result-list .list-item .item-image {
    position: relative;
    background-color: #fff;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

.result-list .list-item .item-image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
}

.result-list .list-item .item-title {
    font-weight: 500;
    font-size: 1.1rem;
    padding-top: 1.5rem;
}

.result-list .list-item .item-artist-name {
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.1rem;
}

.result-list .list-item .item-price {
    padding-top: 1.5rem;
}

.result-list .list-item .item-price .product-card-price {
    font-size: 1.1rem;
}

.price-list-view {
    font-family: Adobe Devanagari, sans-serif;
    font-weight: 500;
    font-size: 2.7rem;
}

/**
 *  7 Checkout Onepage
 */
.checkout-list-group .list-group-item {
    border: 2px solid #181b19;
    border-bottom: none;
}

.checkout-list-group .list-group-item:last-child {
    border-bottom: 2px solid #181b19;
}

.checkout-list-group .list-group-item.active {
    border-color: #007bff;
}

/**
 *  8   Checkout Cart
 */
.cart-container {
    padding-top: 3rem;
    margin-bottom: 3rem;
}

/**
 *  9.  SignIn - SignUp Form
 */
.sign-in-up-form {
    border: 2px solid #000;
    padding: 1.4rem;
    margin-bottom: 1.4rem;
}

/**
 *  10. Media Queries
 */
@media (min-width: 768px) and (max-width: 991.98px) {
    .header .navbar .navbar-collapse .nav-item .dropdown-menu {
        margin-top: 9px;
        border: none;
        width: 100vw;
        margin-left: -50vw;
        left: calc(50% + 322px);
        background-color: #eee;
    }
}

@media (min-width: 992px) and (max-width: 1284.98px) {
    .navbar-expand-lg .navbar-collapse.d-lg-none {
        display: none !important;
    }

    .header .navbar .navbar-collapse .nav-item .dropdown-menu {
        margin-top: 9px;
        border: none;
        width: 100vw;
        margin-left: -50vw;
        left: calc(50% + 322px);
        background-color: #eee;
    }

    .header .navbar .navbar-menu .navbar-menu-container .navbar-menu-content {
        padding-top: 4rem;
    }
}

@media (min-width: 1285px) {
    .navbar-expand-lg .navbar-collapse.d-lg-none {
        display: none !important;
    }

    .header .navbar .navbar-collapse .nav-item .dropdown-menu {
        margin-top: 9px;
        border: none;
        width: 100vw;
        margin-left: -50vw;
        left: calc(50% + 322px);
        background-color: #eee;
        transition: opacity 0.25s ease-in-out;
    }

    .header .navbar .navbar-collapse .nav-item .dropdown-menu {
        opacity: 0;
    }

    .header .navbar .navbar-collapse .nav-item .dropdown-menu.show {
        opacity: 1;
    }
}

/**
 *  11. Bootstrap Overrules
 */
.form-control {
    border-radius: 0;
}

@media (min-width: 1285px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1284px;
    }
}
