 @import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

 @font-face {
    font-family: Adobe Devanagari;
    src: url(../fonts/adobedevanagari/AdobeDevanagari-Regular.woff2) format("woff2"), url(../fonts/adobedevanagari/AdobeDevanagari-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Adobe Devanagari;
    src: url(../fonts/adobedevanagari/AdobeDevanagari-Italic.woff2) format("woff2"), url(../fonts/adobedevanagari/AdobeDevanagari-Italic.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

body {
    color: #181b19;
    background-color: #dadada;
    font-size: 16px;
    font-family: Poppins,sans-serif;
    line-height: 1.4;
}

body {
    padding-top: 128px;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: #333533;
    transition: color .25s ease-in-out,border-color .25s ease-in-out,background-color .25s ease-in-out;
}

a:hover {
    color: #0d0e0d;
}

a:hover {
    opacity: 0.7;
}

img {
    display: block;
    max-width: 100%;
}

img, svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

ul {
    list-style: none;
}

.header {
    height: 60px;
    z-index: 9999;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #eee;
    border-bottom: 2px solid #181b19;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

@media only screen and (max-width:991px) {
    .header {
        -ms-flex-pack: end;
        justify-content: flex-end;
        position: relative
    }
}

.header-logo {
    display: block;
    width: 193px;
    margin-right: 48px
}

.header-logo img {
    margin-top: 0.6em
}

@media only screen and (max-width:991px) {
    .header-logo {
        transform: translateX(-50%);
        margin-right: 0;
        position: absolute;
        left: 50%
    }
}

@media only screen and (max-width:767px) {
    .header-logo {
        width: 170px
    }
}

.header-menu {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 35px
}

@media only screen and (max-width:991px) {
    .header-menu {
        display: none;
        margin-right: 0
    }
}

.header-menu ul {
    margin-bottom: 0;
    list-style: none;
}

.header-menu ul li {
    padding-top: 19px;
    padding-bottom: 18px
}

@media only screen and (max-width:991px) {
    .header-menu ul li {
        padding-top: 0;
        padding-bottom: 0
    }
}

.header-menu ul li a {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-right: 20px
}

.header-menu ul li a:before {
    width: 9px;
    height: 6px;
    content: "";
    background-size: 9px;
    transform: translateY(-50%);
    background-image: url(../img/down-arrow.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0
}

@media only screen and (max-width:991px) {
    .header-menu ul li a:before {
        display: none;
        width: auto;
        height: auto;
        background: none;
        transform: translate(0)
    }
}

.header-menu ul li ul {
    top: calc(100% - 2px);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #eee;
    transition: opacity .25s ease-in-out;
    position: absolute;
    left: 0;
    padding-top: 60px;
    padding-bottom: 50px
}

.header-menu ul li ul li {
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px
}

.header-menu ul li ul li a {
    font-size: 22px;
    transition: opacity .25s ease-in-out;
    padding-right: 0
}

.header-menu ul li ul li a:before {
    display: none
}

.header-menu ul li ul li a sup {
    font-size: 10px;
    top: -10px;
    left: 5px
}

.header-menu ul li ul li a:hover {
    opacity: .7
}

.header-menu ul li:hover ul {
    transition: opacity .25s ease-in-out;
    opacity: 1;
    visibility: visible
}

.header-search {
    width: 614px;
    position: relative;
    top: 10px
}

@media only screen and (max-width:1325px) {
    .header-search {
        width: 32%
    }
}

@media only screen and (max-width:1199px) {
    .header-search {
        width: 30%
    }
}

@media only screen and (max-width:991px) {
    .header-search {
        display: none
    }
}

.header-search input[type=text] {
    z-index: 1;
    width: 100%;
    height: 60px;
    font-weight: 600;
    background: #fff;
    color: #333533;
    border: 2px solid #181b19;
    padding-right: 90px;
    padding-left: 27px;
    position: relative;
    border-radius:0;
}

.header-search input[type=submit] {
    border: 0;
    z-index: 1;
    width: 60px;
    height: 56px;
    text-indent: -9999px;
    background-size: 15px;
    background-color: transparent;
    background-image: url(../img/search-icon.png);
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    right: 2px
}

.header-search:after {
    content: "";
    background: #b8b8b8;
    width: 100%;
    height: 100%;
    border: 2px solid #181b19;
    position: absolute;
    top: -4px;
    right: -4px
}

.header-menu-toggle {
    cursor: pointer;
    z-index: 15;
    float: right;
    display: none;
    width: 26px;
    height: 30px;
    transition: background .25s ease-in-out;
    position: absolute;
    top: 15px;
    left: 22px
}

@media only screen and (max-width:991px) {
    .header-menu-toggle {
        display: block
    }
}

.header-menu-toggle>span {
    width: 100%;
    height: 2px;
    display: block;
    text-indent: -9999px;
    border-radius: 1px;
    background: transparent;
    transition: background .25s ease-in-out;
    position: absolute;
    top: 50%;
    right: 0
}

.header-menu-toggle>span:after,
.header-menu-toggle>span:before {
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    border-radius: 1px;
    background-color: #333533;
    transition: background .25s ease-in-out .25s;
    position: absolute;
    left: 0
}

.header-menu-toggle>span:before {
    top: -5px;
    transition-property: top, transform
}

.header-menu-toggle>span:after {
    bottom: -5px;
    transition-property: bottom, transform
}

.header-menu-toggle.is-active>span,
.mm-opened .header-menu-toggle>span {
    background: none
}

.header-menu-toggle.is-active>span:before,
.header-menu-toggle.is-active>spanafter,
.mm-opened .header-menu-toggle>span:before,
.mm-opened .header-menu-toggle>spanafter {
    transition-delay: 0s, .2s
}

.header-menu-toggle.is-active>span:before,
.mm-opened .header-menu-toggle>span:before {
    top: 0;
    transform: rotate(45deg)
}

.header-menu-toggle.is-active>span:after,
.mm-opened .header-menu-toggle>span:after {
    bottom: 0;
    transform: rotate(-45deg)
}

.container {
    max-width: 100%;
    padding-right: calc((100% - 1264px) / 2);
    padding-left: calc((100% - 1264px) / 2)
}

@media only screen and (max-width:1324px) {
    .container {
        padding-right: 15px;
        padding-left: 15px
    }
}

main {
    min-height: 30em;
}


.search-result__top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #c6c7c6;
    padding-top: 55px;
    padding-bottom: 35px;
    margin-bottom: 100px
}

@media only screen and (max-width:991px) {
    .search-result__top {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 50px
    }
}

@media only screen and (max-width:767px) {
    .search-result__top {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 20px;
        margin-bottom: 0
    }
}

.search-result__name {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    position: relative
}

@media only screen and (max-width:767px) {
    .search-result__name {
        -ms-flex-order: 2;
        order: 2
    }
}

.search-result__name:after {
    content: "";
    width: 22px;
    height: 2px;
    display: none;
    background-color: #000;
    position: absolute;
    top: 43px;
    left: -26px
}

@media only screen and (max-width:767px) {
    .search-result__name:after {
        display: block
    }
}

.search-result__results {
    font-size: 22px;
    font-weight: 400
}

.search-result__sorting {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 30px
}

@media only screen and (max-width:991px) {
    .search-result__sorting {
        margin-right: 0
    }
}

@media only screen and (max-width:767px) {
    .search-result__sorting {
        width: 100%;
        margin-bottom: 30px
    }
}

.search-result__sort {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 70px
}

@media only screen and (max-width:767px) {
    .search-result__sort {
        margin-right: 0
    }
}

.search-result__text {
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px
}

@media only screen and (max-width:767px) {
    .search-result__text {
        font-weight: 400;
        text-transform: uppercase;
        margin-right: 5px
    }
}

.search-result__dropdown {
    width: 175px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    background-color: #cfcfcf;
    -webkit-appearance: none;
    padding-right: 50px;
    padding-left: 20px;
    background-image: url(../../img/dropdown-arrow.png);
    background-position: 93%;
    background-repeat: no-repeat
}

@media only screen and (max-width:767px) {
    .search-result__dropdown {
        background-color: inherit;
        width: 110px;
        text-transform: uppercase;
        padding-right: 0;
        padding-left: 0
    }
}

.search-result__view {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

@media only screen and (max-width:767px) {
    .search-result__view .search-result__text {
        display: none
    }
}

.search-result__icon {
    width: 30px;
    height: 30px;
    background-color: #cfcfcf;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px
}

.search-result__icon img {
    opacity: .4
}

.search-result__icon.is-active {
    background-color: #fff
}

.search-result__icon.is-active img {
    opacity: 1
}

.search-result__title {
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    letter-spacing: 0;
    margin-bottom: 25px
}

.search-result__filter {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.search-result__filter li {
    margin-right: 15px;
    margin-bottom: 15px
}

.search-result__filter li a {
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #181b19;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px
}

.search-result__filter li a span {
    margin-right: 7px
}

.search-result__filter li a i {
    font-size: 15px;
    color: #8b8d8c
}

.search-result__clear {
    font-size: 14px;
    text-decoration: underline
}

.search-result__clear:hover {
    text-decoration: none
}

.search-result__condition-filter,
.search-result__format-filter,
.search-result__price-filter {
    border-top: 2px solid #cfcfcf;
    padding-top: 20px;
    margin-top: 25px
}

.search-result__head {
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 38px;
    margin-bottom: 20px;
    position: relative
}

.search-result__head:before {
    content: "";
    width: 12px;
    height: 7px;
    transform: rotate(180deg);
    background-image: url(../../img/dropdown-arrow.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 0
}

.search-result__head.hide:before {
    transform: rotate(0deg)
}

.search-result input[type=text] {
    border: 0;
    width: 230px;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    color: #181b19;
    background-color: #fff;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px
}

.search-result input[type=text]::-webkit-input-placeholder {
    color: #181b19
}

.search-result input[type=text]::-moz-placeholder {
    color: #181b19
}

.search-result input[type=text]::-ms-input-placeholder {
    color: #181b19
}

.search-result input[type=text]::placeholder {
    color: #181b19
}

.search-result input[type=submit] {
    background-color: #181b19;
    color: #fff;
    border: 0;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 35px;
    padding-left: 35px
}

.search-result__check {
    position: relative
}

.search-result__check input[type=checkbox].css-checkbox {
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    border: 0;
    margin: -1px;
    position: absolute;
    left: -1000px;
    padding: 0
}

.search-result__check input[type=checkbox].css-checkbox+label.css-label {
    height: 31px;
    display: inline-block;
    line-height: 34px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 40px;
    margin-bottom: 5px
}

.search-result__check input[type=checkbox].css-checkbox:checked+label.css-label {
    background-position: 0 -31px
}

.search-result__check label.css-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url(../../img/checks.png);
    background-position: 0;
    background-repeat: no-repeat
}

.search-result__tooltip {
    display: none;
    width: 200px;
    z-index: 8;
    font-size: 14px;
    line-height: 20px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 28px
}

@media only screen and (max-width:767px) {
    .search-result__tooltip {
        left: auto;
        right: 24px
    }
}

.search-result__tooltip:before {
    width: 8px;
    height: 16px;
    content: "";
    transform: translateY(-50%);
    background-image: url(../../img/base-tooltip.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: -8px
}

@media only screen and (max-width:767px) {
    .search-result__tooltip:before {
        left: auto;
        right: -8px;
        margin-top: -8px;
        transform: rotate(-180deg)
    }
}

.search-result__info {
    font-size: 16px;
    position: absolute;
    top: 8px;
    right: 0
}

.search-result__info:hover {
    color: #fff
}

.search-result__info:hover .search-result__tooltip {
    display: block;
    color: #181b19
}

.search-result__less {
    display: none
}

.search-result__button {
    font-size: 12px;
    height: 30px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    color: #181b19;
    background-color: #cfcfcf;
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 40px
}

.search-result__button:hover {
    background-color: #181b19;
    color: #fff
}

.search-result__button.less .search-result__show {
    display: none
}

.search-result__button.less .search-result__less {
    display: block
}

.search-result__rate {
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 10px
}

.search-result__show-filter {
    display: none
}

@media only screen and (max-width:767px) {
    .search-result__show-filter {
        width: 100%;
        border: 2px solid #181b19;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        height: 50px;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px
    }
}

.search-result__show-filter i {
    margin-left: 15px
}

@media only screen and (max-width:767px) {
    .search-result__grid-list:nth-child(2n) {
        margin-top: 30px
    }
}

.search-result__filter-area {
    display: block
}

@media only screen and (max-width:767px) {
    .search-result__filter-area {
        display: none;
        margin-bottom: 40px
    }
}

@media only screen and (max-width:767px) {
    .search-result__filter-area.is-active {
        display: block
    }
}


.card-products {
    height: 388px;
    position: relative;
    margin-bottom: 30px
}

@media only screen and (max-width:1325px) {
    .card-products {
        height: 350px
    }
}

@media only screen and (max-width:767px) {
    .card-products {
        height: auto;
        margin-bottom: 0
    }
}

.card-products__area {
    font-size: 12px;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px
}

@media only screen and (max-width:767px) {
    .card-products__area {
        font-size: 10px;
        padding-bottom: 5px
    }
}

.card-products__records {
    position: relative;
    padding-right: 18px
}

@media only screen and (max-width:767px) {
    .card-products__records {
        padding-right: 15px
    }
}

.card-products__records:after {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../../img/disc-plate.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0
}

@media only screen and (max-width:767px) {
    .card-products__records:after {
        width: 12px;
        height: 12px;
        background-size: 12px
    }
}

.card-products__image {
    z-index: 1;
    margin-bottom: 15px;
    position: relative
}

@media only screen and (max-width:767px) {
    .card-products__image {
        margin-bottom: 10px
    }
}

.card-products__image img {
    transform: scale(1);
    width: 100%
}

.card-products__title {
    font-weight: 500;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 2px
}

@media only screen and (max-width:767px) {
    .card-products__title {
        font-size: 12px;
        padding-left: 10px
    }
}

.card-products__category {
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    padding-left: 15px;
    margin-bottom: 2px
}

@media only screen and (max-width:767px) {
    .card-products__category {
        font-size: 12px;
        padding-left: 10px
    }
}

.card-products__price {
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px
}

@media only screen and (max-width:767px) {
    .card-products__price {
        font-size: 12px;
        padding-left: 10px
    }
}

.card-products__list {
    width: 250px;
    display: block
}

@media only screen and (max-width:1325px) {
    .card-products__list {
        width: 175px
    }
}

@media only screen and (max-width:767px) {
    .card-products__list {
        width: 100%
    }
}

.card-products__bag {
    display: none;
    background: #181b19;
    height: 38px;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 40px;
    padding-left: 15px;
    position: absolute;
    right: 13px;
    bottom: 0
}

@media only screen and (max-width:1325px) {
    .card-products__bag {
        width: 220px;
        right: auto;
        left: 0
    }
}

@media only screen and (max-width:767px) {
    .card-products__bag {
        display: none
    }
}

.card-products__bag:after {
    content: "";
    width: 13px;
    height: 15px;
    transform: translateY(-50%);
    background-image: url(../../img/icon-bag.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 15px
}

.card-products__bag:hover {
    color: #fff
}

.card-products--goodies-list {
    height: 348px
}

@media only screen and (max-width:1325px) {
    .card-products--goodies-list {
        height: 310px
    }
}

@media only screen and (max-width:767px) {
    .card-products--goodies-list {
        height: auto
    }
}

.card-products:hover {
    position: relative;
    top: -14px
}

@media only screen and (max-width:767px) {
    .card-products:hover {
        top: 0
    }
}

.card-products:hover img {
    transform: scale(1.05)
}

@media only screen and (max-width:767px) {
    .card-products:hover img {
        transform: scale(1)
    }
}

.card-products:hover .card-products__area {
    border: 2px solid #181b19;
    width: calc(100% + 12px);
    padding: 10px;
    position: relative;
    left: -6px
}

@media only screen and (max-width:1325px) {
    .card-products:hover .card-products__area {
        left: -4px;
        width: calc(100% + 8px)
    }
}

@media only screen and (max-width:767px) {
    .card-products:hover .card-products__area {
        left: 0;
        width: 100%;
        border: 2px solid transparent;
        padding-top: 0;
        padding-bottom: 5px
    }
}

.card-products:hover .card-products__content {
    position: relative
}

.card-products:hover .card-products__content:before {
    width: 280px;
    height: 280px;
    content: "";
    border: 2px solid #181b19;
    position: absolute;
    bottom: 0;
    left: 0
}

@media only screen and (max-width:1325px) {
    .card-products:hover .card-products__content:before {
        width: 220px;
        height: 220px
    }
}

@media only screen and (max-width:767px) {
    .card-products:hover .card-products__content:before {
        display: none
    }
}

.card-products:hover .card-products__price {
    width: 100%;
    height: 38px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    border-top: 2px solid #181b19
}

@media only screen and (max-width:1325px) {
    .card-products:hover .card-products__price {
        width: calc(100% + 45px)
    }
}

@media only screen and (max-width:767px) {
    .card-products:hover .card-products__price {
        width: 100%;
        height: auto;
        border: 0
    }
}

.card-products:hover .card-products__bag {
    display: -ms-inline-flexbox;
    display: inline-flex
}

@media only screen and (max-width:767px) {
    .card-products:hover .card-products__bag {
        display: none
    }
}

.footer {
    width: 100%;
    color: #fff;
    background-color: #181b19;
    padding-top: 95px;
    padding-bottom: 75px;
    background-image: url(../img/footer-bg.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

@media only screen and (max-width:991px) {
    .footer {
        padding-top: 70px;
        padding-bottom: 60px
    }
}

@media only screen and (max-width:767px) {
    .footer {
        padding-top: 40px;
        padding-bottom: 15px
    }
}

.footer__title {
    letter-spacing: .02em;
    margin-bottom: 13px;
    position: relative
}

@media only screen and (max-width:991px) {
    .footer__title {
        font-size: 16px
    }
}

.footer--title-arrow {
    text-transform: uppercase;
    padding-left: 25px
}

@media only screen and (max-width:767px) {
    .footer--title-arrow {
        text-align: center;
        text-transform: none;
        padding-left: 0
    }
}

.footer--title-arrow:before {
    content: "";
    width: 12px;
    height: 1px;
    background: #fff;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0
}

@media only screen and (max-width:767px) {
    .footer--title-arrow:before {
        display: none
    }
}

.footer__text {
    font-size: 32px;
    letter-spacing: .02em
}

@media only screen and (max-width:1199px) {
    .footer__text {
        font-size: 30px
    }
}

@media only screen and (max-width:991px) {
    .footer__text {
        font-size: 24px
    }
}

@media only screen and (max-width:767px) {
    .footer__text {
        font-size: 22px
    }
}

.footer__social {
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px
}

@media only screen and (max-width:767px) {
    .footer__social {
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 0
    }
}

.footer__social li {
    padding-top: 10px;
    padding-right: 18px
}

@media only screen and (max-width:1199px) {
    .footer__social li {
        padding-right: 12px
    }
}

@media only screen and (max-width:767px) {
    .footer__social li {
        padding-right: 6px;
        padding-left: 6px
    }
}

.footer__social li:last-child {
    padding-right: 0
}

.footer__social li a {
    width: 36px;
    display: block
}

.footer__social li a:hover {
    opacity: .7
}

.footer__top {
    margin-bottom: 55px
}

@media only screen and (max-width:1325px) {
    .footer__top {
        margin-bottom: 90px
    }
}

@media only screen and (max-width:1199px) {
    .footer__top {
        margin-bottom: 60px
    }
}

.footer__bottom {
    padding-bottom: 123px
}

@media only screen and (max-width:1325px) {
    .footer__bottom {
        padding-bottom: 90px
    }
}

@media only screen and (max-width:1199px) {
    .footer__bottom {
        padding-bottom: 50px
    }
}

.footer__bottom p {
    font-size: 14px;
    color: #dadada;
    line-height: 1.2;
    letter-spacing: .01em;
    margin-bottom: 13px
}

.footer__payments {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

@media only screen and (max-width:767px) {
    .footer__payments {
        margin-bottom: 50px
    }
}

.footer__payments li {
    padding-top: 10px;
    padding-right: 37px
}

@media only screen and (max-width:1199px) {
    .footer__payments li {
        padding-top: 10px;
        padding-right: 25px
    }
}

@media only screen and (max-width:767px) {
    .footer__payments li {
        padding-right: 10px
    }
}

@media only screen and (max-width:767px) {
    .footer__payments li img {
        max-height: 23px
    }
}

.footer__menu li {
    margin-bottom: 14px
}

.footer__menu li a {
    font-size: 14px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    width: 160px;
    text-align: center;
    line-height: 60px;
    border: 2px solid #fff
}

.footer__menu li a:hover {
    background: #fff;
    color: #000
}

.footer__copyright {
    width: 100%
}

@media only screen and (max-width:767px) {
    .footer__copyright {
        display: block
    }
}

.footer__copyright p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: hsla(0, 0%, 85%, .5)
}

@media only screen and (max-width:767px) {
    .footer__copyright p {
        font-size: 10px;
        letter-spacing: 0;
        margin-bottom: 15px
    }
}

.footer__copyright p a {
    color: hsla(0, 0%, 85%, .5)
}

.footer__copyright p a:hover {
    color: #fff
}

@media only screen and (max-width:767px) {
    .footer__copyright-order1 {
        -ms-flex-order: 1;
        order: 1;
        padding-top: 5px
    }
}

.footer__logo {
    width: 28px;
    vertical-align: top;
    display: inline-block;
    margin-top: -6px;
    margin-right: 7px
}

@media only screen and (max-width:767px) {
    .footer__logo {
        width: 24px
    }
}

.footer .show-mobile {
    display: none;
    text-align: center
}

@media only screen and (max-width:767px) {
    .footer .show-mobile {
        display: block
    }
}

@media only screen and (max-width:767px) {
    .footer .hide-mobile {
        display: none
    }
}