<template>
    <div>
        <!-- Add policy base info + countries -->
        <div class="card mb-3">
            <div class="card-header">
                <button @click="saveSellerCountries()" class="btn btn-info pull-right">
                    Save Countries
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <!-- Emits array of world_country.ids -->
                        <destinations-picker v-on:countryids="setSelectedCountrydIds" :sellerid="this.$props.sellerid" />
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>

import DestinationsPicker from './components/DestinationsPicker';

export default {
  components: {
    "destinations-picker": DestinationsPicker
  },
  props: ["sellerid"],
  data(){
      return {
        country_ids: []
      }
  },
  methods: {
    setSelectedCountrydIds: function(country_ids){
        this.country_ids = country_ids;
    },
    saveSellerCountries(){
            const vm = this;
            axios
                .post(`${window.location.origin}/api/world/linkCountriesToSeller/${this.$props.sellerid}`,
                    {
                        "country_ids": vm.country_ids
                    }
                )
                .then(res => {
                    const swalBody = res.data.swal;
                    // const redirect = res.data.data.redirect;
                    Swal.fire(swalBody).then();
                })
                .catch(err => {
                    const swalBody = err.response.data.swal;
                    Swal.fire(swalBody);
                });
        }
  }
}
</script>

<style>

</style>