<template>
    <div>

            <!-- Add policy base info + countries -->
            <div class="card mb-3">
                <div class="card-header">
                    <button @click="updatePolicy()" class="btn btn-info pull-right">
                        Update
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title" >Add your policy base info</h5>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label class="required">Name</label> 
                                <input type="text" v-model="policy.name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="description">Description</label> 
                            <textarea v-model="policy.description" class="form-control autosize-input" style="height: 77px;"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <!-- Emits array of world_country.ids -->
                            <destinations-picker :policyid="policy.id" v-on:countryids="setSelectedCountrydIds" />
                        </div>
                    </div>
                </div>
            </div>


            <!-- Add ranges  -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" >Add your pricing scheme</h5>
                    

                    <range-picker :policyid="policy.id" />


                    <!-- <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label class="required">Max width</label> 
                                <input type="number" name="max_width" placeholder="mm" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label class="required">Max Length</label> 
                                <input type="number" name="max_length" placeholder="mm" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label class="required">Max Height</label> 
                                <input type="number" name="max_height" placeholder="mm" class="form-control">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
  </div>
</template>

<script>

import DestinationsPicker from './components/DestinationsPicker';
import RangePicker from "./components/RangePicker";

export default {
  props: ["policy", "countries"],
  components: {
    "destinations-picker": DestinationsPicker,
    'range-picker': RangePicker
  },
  data(){
      return {
          policy: {
              id: null,
              name: "",
              description: "",
              country_ids: []
          }
      }
  },
  mounted(){
      this.policy = {
        id: this.$props.policy.id,
        name: this.$props.policy.name,
        description: this.$props.policy.description,
        country_ids: this.$props.countries
      };
  },
  methods: {
    setSelectedCountrydIds: function(country_ids){
        this.policy.country_ids = country_ids;
    },
    updatePolicy(){
            const vm = this;
            axios
                .put(`${window.location.origin}/api/shipping/policies/${vm.policy.id}`,
                    vm.policy
                )
                .then(res => {
                    const swalBody = res.data.swal;
                    Swal.fire(swalBody);
                })
                .catch(err => {
                    const swalBody = err.response.data.swal;
                    Swal.fire(swalBody);
                });
        }
  }
}
</script>

<style>

</style>