<template>
  <div>
    <li class="pt-3">
      <div class="card">
        <div class="card-header">
          <h5>{{ artist_names }} - {{ release.name }}</h5>
          <div class="btn-actions-pane-right">
            <button
              class="btn btn-shadow btn-info"
              @click="$emit('preFillForm', release.sku)"
              style="margin-left: 1em"
            >Sell</button>
          </div>
        </div>

        <div class="row no-gutters">
          <!-- <div class="col-md-2" style="background: #868e96;">
                        <img :src="image" class="card-img-top" alt="..." />
          </div>-->
          <div class="col-md-12">
            <div class="card-body">
              <div class="row">
                <!-- (Image) -->
                <div class="ml-3 mt-3 col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div
                      class="d-flex justify-content-center align-items-center rounded"
                      style="height: 140px; background-color: rgb(233, 236, 239);"
                    >

                        <release-image :releaseid="release.sku"/>

                    </div>
                  </div>
                </div>
                <!-- Small details next to image  -->
                <div class="mt-1 col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <div class="text-muted">
                      Label(s):
                      <small>{{ label_names }}</small>
                    </div>
                    <div class="text-muted">
                      Country:
                      <small>{{ release.country }}, {{ release.release_date }}</small>
                    </div>
                    <div class="text-muted">
                      Barcode:
                      <small>{{ barcode }}</small>
                    </div>
                    <div class="text-muted">
                      Formats:
                      <small>{{ format_names }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card-body">
                <b-row>
                  <b-col md="12">
                    <div class="card-header">
                      <ul class="nav nav-justified">
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${release.sku}-0`
                                                        "
                            class="nav-link active show"
                          >Tracks</a>
                        </li>
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${release.sku}-1`
                                                        "
                            class="nav-link show"
                          >Artists</a>
                        </li>
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${release.sku}-2`
                                                        "
                            class="nav-link show"
                          >Labels</a>
                        </li>
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${release.sku}-3`
                                                        "
                            class="nav-link show"
                          >Companies</a>
                        </li>
                        <li class="nav-item">
                          <a
                            data-toggle="tab"
                            :href="
                                                            `#tab-${release.sku}-4`
                                                        "
                            class="nav-link show"
                          >Identifiers</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <div class="tab-content">
                        <div
                          class="tab-pane active show"
                          :id="`tab-${release.sku}-0`"
                          role="tabpanel"
                        >
                          <track-list
                            :tracklist="
                                                            release.tracklist
                                                        "
                          ></track-list>
                        </div>
                        <div class="tab-pane show" :id="`tab-${release.sku}-1`" role="tabpanel">
                          <artist-list
                            :artists="
                                                            release.artists
                                                        "
                          ></artist-list>
                        </div>
                        <div class="tab-pane show" :id="`tab-${release.sku}-2`" role="tabpanel">
                          <label-list :labels="release.labels"></label-list>
                        </div>
                        <div class="tab-pane show" :id="`tab-${release.sku}-3`" role="tabpanel">
                          <companies-list
                            :companies="
                                                            release.companies
                                                        "
                          ></companies-list>
                        </div>
                        <div class="tab-pane show" :id="`tab-${release.sku}-4`" role="tabpanel">
                          <identifiers-list
                            :identifiers="
                                                            release.identifiers
                                                        "
                          ></identifiers-list>
                        </div>
                      </div>
                    </div>
                  </b-col>
                </b-row>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </div>
</template>

<script>
import Tracklist from "./Tracklist";
import Artistlist from "./Artistlist";
import Labellist from "./Labellist";
import Companieslist from "./Companieslist";
import Identifierslist from "./Identifierslist";
import ReleaseImage from "./ReleaseImage";

export default {
  name: "ListItem",
  props: {
    release: Object,
    image: String
  },
  components: {
    "track-list": Tracklist,
    "artist-list": Artistlist,
    "label-list": Labellist,
    "companies-list": Companieslist,
    "identifiers-list": Identifierslist,
      "release-image": ReleaseImage
  },
  mounted() {
    console.log(this.release);
  },
  computed: {
    // reduce the array of label objects to an array of label.name strings and join
    label_names: function() {
      if (!this.release.labels) {
        return "None";
      }
      const label_names_array = this.release.labels.map(
        element => `${element.name}, ${element.cat_no}`
      );
      label_names_array.reduce(
        (unique, item) => (unique.includes(item) ? unique : [...unique, item]),
        []
      );
      return [...new Set(label_names_array)].join(" | ");
    },
    artist_names: function() {
      if (!this.release.labels) {
        return "No artists";
      }
      const artist_names_array = this.release.artists.map(
        element => element.name
      );
      artist_names_array.reduce(
        (unique, item) => (unique.includes(item) ? unique : [...unique, item]),
        []
      );
      return [...new Set(artist_names_array)].join(" | ");
    },
    barcode: function() {
      if (!this.release.identifiers) {
        return "None";
      }
      const barcode_object = this.release.identifiers.find(
        item => item.type == "Barcode"
      );
      if (!barcode_object) {
        return "None";
      }
      return barcode_object.value;
    },
    format_names: function() {
      if (!this.release.formats) {
        return "None";
      }
      const format_names_array = this.release.formats.map(
        element => `${element.name},${element.descriptions},${element.qty},${element.text}`
      );
      format_names_array.reduce(
        (unique, item) => (unique.includes(item) ? unique : [...unique, item]),
        []
      );
      return [...new Set(format_names_array)].join(" | ");
    }
  }
};
</script>

<style></style>
