<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th style="width:10%;">Position</th>
          <th style="width:60%;">Title</th>
          <th style="width:20%;">Duration</th>
          <th style="width:10%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(track, index) in tracklist" :key="index">
          <td>{{ track.position }}</td>
          <td>{{ track.title }}</td>
          <td>{{ track.duration }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Tracklist",
  props: {
    tracklist: Array
  }
};
</script>

<style>
</style>