.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    margin-right: 0px;
}

.input-group button {
    background: #fff;
    height: 3.75rem;
    border: 2px solid #181b19;
}

.input-group .border-right-width-0 {
    border-right-width: 0;
}

.input-group .border-right-width-2 {
    border-right-width: 2px;
}

.input-group .border-left-width-0 {
    border-left-width: 0;
}

.input-group .border-left-width-2 {
    border-left-width: 2px;
}

.input-group .border-radius-0 {
    border-radius: 0px !important;
}
