.container-login {
    margin-top: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.container-login .sign-in-form {
    border: 2px solid #000;
    padding: 1.4rem;
    margin-bottom: 1.4rem;
}

@media (min-width: 992px) {
    .container-login {
        padding-top: 3rem;
    }
}
