@import "icons";
@import "variables";

.account-head {
    .account-action {
        margin: 0;
    }
}

.modal-container {
    top: 40px;
}

//responsive css for account action and for table

@media only screen and (max-width: 770px){
    .account-head {
        .account-action {
            margin: 4px !important;
            margin-right: 0px !important;

            .control-group.date {
                width: 49% !important;
                margin-left: 0px !important;
            }

            .control-group.date::after, .control-group.datetime::after {
                position: initial !important;
            }
        }
    }

    .table {
        .grid-container {
            margin-top: 10px;

            .filter-row-one {
                display: block;
            }
        }
    }

    .dropdown-list.top-right {
        bottom: auto;
        right: auto;
    }

    .dropdown-filters {
        margin-top: 10px;
    }
}

.profile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 80px;

    .profile-top-block {
        width: 100%;

        .profile-information {
            float: left;

            .profile-logo-block {
                width: 120px;
                height: 120px;
                float: left;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .profile-information-block {
                float: left;
                margin-top: 32px;
                margin-left: 20px;

                .shop-title {
                    font-size: 24px;
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }

        .review-information {
            float: right;
            text-align: center;
            padding-top: 25px;

            .number {
                font-size: 34px;
            }

            .stars {
                vertical-align: top;
                display: inline-block;
                margin-top: 13px;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .profile-left-block {
        width: 25%;
        float: left;
        margin-top: 60px;
        min-height: 1px;
        text-align: center;

        h2 {
            &.shop-title {
                margin-bottom: 5px !important;
            }
        }

        a {
            &.shop-title {
                font-size: 24px;
                color: #0031F0;
                display: block;
                margin-bottom: 5px;
            }
        }

        .content {
            position: relative;
            border: 1px solid #E8E8E8;
            padding: 20px;
            padding-top: 80px;

            .profile-logo-block {
                width: 120px;
                height: 120px;
                border-radius: 10px;
                overflow: hidden;
                position: absolute;
                top: -60px;
                left: 50%;
                margin-left: -60px;

                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .profile-information-block {
                .row {
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &.social-links {
                        a {
                            display: inline-block;
                        }
                    }
                }

                h2 {
                    font-size: 24px;
                    margin: 0;
                }

                .review-info {
                    .number {
                        font-size: 34px;
                    }

                    .stars {
                        vertical-align: top;
                        display: inline-block;
                        margin-top: 13px;

                        .icon {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    .profile-right-block {
        width: 80%;
        padding-left: 20px;
        display: block;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

// responsive css for profile-container
@media only screen and (max-width: 770px){
    .profile-container {
        flex-direction: column;

        .profile-top-block {
            display: flex;
            flex-direction: column;

            .review-information {
                text-align: left;
            }
        }

        .profile-left-block {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }

        .profile-right-block {
            width: 100%;
            padding-left: 0px;
            margin-top: 20px;
        }
    }
}

.section {
    .section-heading {
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: inline-block;

        h2 {
            font-size: 18px;
            font-weight: 500;
            float: left;
            margin: 0;

            .seperator {
                position: absolute;
                border-bottom: 1px solid #E8E8E8;
                width: 50px;
                margin-top: 20px;
            }
        }
    }
}

.product-items {
    margin-bottom: 40px;

    .section-heading {
        .btn {
            float: right;
        }
    }
}

.profile-details {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;

    .profile-details-left-block {
        width: 50%;
        float: left;
        padding-right: 15px;

        .slider-container {
            padding: 25px 25px 0px 25px;
            margin-bottom: 20px;
            border: 1px solid #E8E8E8;
            position: relative;

            .stars {
                vertical-align: top;
                display: inline-block;
                margin-top: 13px;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }

            .VueCarousel-inner {
                margin-bottom: 20px;
            }

            .VueCarousel-pagination {
                display: inline-block;

                .VueCarousel-dot-container {
                    float: left;

                    .VueCarousel-dot {
                        margin-top: 0 !important;
                    }
                }
            }

            a {
                position: absolute;
                right: 40px;
                bottom: 14px;
            }
        }

        .accordian-header {
            padding: 10px 0;
        }

        .accordian-content {
            padding: 20px 0;
        }
    }

    .profile-details-right-block {
        width: 50%;
        float: left;
        padding-left: 15px;
    }
}

// responsive css for profile-deatils
@media only screen and (max-width: 770px){
    .profile-details {
        flex-direction: block;

        .profile-details-left-block {
            width: 100%;
            padding-right: 0px;
        }

        .profile-details-right-block {
            width: 100%;
            padding-left: 0px;
            margin-top: 10px;
        }
    }
}

.stars {
    .star {
        font-size: 25px;
        color: #d4d4d4;
        transition: all .2s;
    }

    .star:before {
        content: '\2605';
    }
}

.control-group {
    span.locale {
        display: none;
    }
}

.dropdown-list.product-search-list {
    .dropdown-container {
        padding: 0 0 0 10px;
        max-height: 344px;

        li {

            img {
                width: 52px;
                height: 60px;
            }
        }

        .table table tbody td {
            vertical-align: middle;

            &.last {
                width: 120px;

                a {
                    margin: 0;
                }

                .btn {
                    color: #fff;
                }
            }
        }
    }
}

.product-information {
    .product-image {
        max-height: 350px;
        max-width: 280px;
        margin-right: 20px;
        float: left;
        background: #F2F2F2;

        img {
            display: block;
            width: 100%;
        }
    }

    .product-details {
        .product-name {
            font-size: 24px;
        }

        .product-price {
            font-size: 18px;
            margin-top: 10px;
        }
    }
}

.product-offer-container {
    margin-bottom: 20px;
    width: 100%;

    .product {
        width: 100%;
        display: inline-block;
        padding: 20px;
        border-radius: 3px;
        border: 1px solid #E8E8E8;

        .product-information {
            float: left;

            .product-logo-block {
                width: 162px;
                height: 162px;
                float: left;
                overflow: hidden;
                background: #F2F2F2;
                border: 1px solid #E8E8E8;

                img {
                    width: 160px;
                    height: 160px;
                }
            }

            .product-information-block {
                float: left;
                margin-left: 20px;

                .product-title {
                    font-size: 18px;
                    font-weight: 600;
                    color: #242424;
                    display: block;
                    margin-bottom: 5px;
                }

                .price {
                    margin-top: 10px;

                    .product-price {
                        font-size: 24px;
                    }
                }

                .stock-status {
                    margin-bottom: 15px;
                    font-weight: 600;
                    color: #FC6868;

                    &.active {
                        color: #4CAF50;
                    }
                }

                .options {

                }
            }
        }

        .review-information {
            float: right;
            text-align: center;

            .stars {
                vertical-align: top;
                display: inline-block;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }

            .total-reviews {
                margin-top: 10px;
            }
        }
    }

    .seller-product-list {
        width: 75%;

        h2.heading {
            margin-top: 30px;
        }

        .content {
            .seller-product-item {
                padding: 10px;
                border-bottom: 1px solid #E8E8E8;

                .product-info-top {
                    table tbody td {
                        vertical-align: middle;
                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        .control-group {
                            width: 60px;
                            display: inline-block;
                            float: left;
                        }

                        .btn.btn-black {
                            padding: 9px 20px;
                            margin-left: 10px;
                            float: left;
                            text-transform: uppercase;
                        }

                        .stock-status {
                            font-weight: 600;
                            color: #FC6868;
                            margin-left: 10px;
                            float: left;
                            padding: 9px 0px;
                        }
                    }

                    .profile-logo-block {
                        width: 60px;
                        height: 60px;
                        float: left;
                        border-radius: 5px;
                        overflow: hidden;

                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .profile-information-block {
                        float: left;
                        margin-top: 8px;
                        margin-left: 10px;

                        .review-information {
                            margin-top: 3px;
                            color: #5E5E5E;

                            .star-icon {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }

                    .control {
                        height: 38px;
                        width: 60px;
                        text-align: center;
                    }
                }

                .product-info-bottom {
                    .product {
                        margin-top: 20px;
                        padding: 0;
                        border: 0;

                        .product-images-block {
                            width: 164px;
                            height: 164px;
                            overflow: hidden;
                            float: none;
                            display: inline-block;
                            vertical-align: middle;

                            .VueCarousel-wrapper {
                                border: 1px solid #E8E8E8;
                                position: relative;
                            }

                            .VueCarousel-pagination {
                                position: absolute;
                                top: 100px;
                            }

                            .product-image {
                                width: 100%;
                                height: 162px;
                                float: left;
                                overflow: hidden;
                                background: #F2F2F2;

                                img {
                                    height: 100%;
                                }
                            }
                        }

                        .product-information-block {
                            // min-height: 162px;
                            float: none;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

.dashboard {

    .page-header {
        margin-bottom: 0 !important;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
    }

    .page-content {
        margin-top: 15px;
    }

    .card {
        height: 445px;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        border-radius: 2px;
        padding: 10px 0px 0px 10px;

        .card-title {
            font-size: 14px;
            color: #A2A2A2;
            letter-spacing: -0.26px;
            text-transform: uppercase;
        }

        .card-info {
            width: 100%;
            height: 100%;
            display: inline-block;

            &.center {
                text-align: center;
            }

            ul {
                li {
                    border-bottom: 1px solid $border-color;
                    width: 100%;
                    display: inline-block;
                    padding: 10px 0;
                    position: relative;

                    .image {
                        height: 60px;
                        width: 60px;
                        float: left;
                        margin-right: 15px;

                        &.product {
                            background: #F2F2F2;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .description {
                        margin-top: 10px;

                        .name {
                            color: #0041FF;
                        }

                        .info {
                            color: #3A3A3A;
                            margin-top: 5px;
                        }
                    }

                    .icon.angle-right-icon {
                        position: absolute;
                        right: 30px;
                        top: 50%;
                        margin-top: -8px;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }

            .no-result-found {
                margin-top: 146px;

                p {
                    margin: 0;
                    color: #A2A2A2;
                }
            }
        }
    }

    .dashboard-stats {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
        grid-auto-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 5px;

        .dashboard-card {
            height: 100px;
            background: #FFFFFF;
            border: 1px solid #E7E7E7;
            border-radius: 5px;
            position: relative;
            padding: 15px;


            .title {
                font-size: 14px;
                color: #A2A2A2;
                text-transform: uppercase;
            }

            .data {
                padding-top: 3px;
                font-size: 32px;
                color: #0041FF;

                .progress {
                    font-size: 14px;
                    color: #8E8E8E;
                    float: right;
                    margin-top: 9px;

                    .icon {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .graph-stats {
        margin-top: 10px;
        width: 100%;
        display: inline-block;
    }

    .sale-stock {
        width: 100%;
        display: inline-block;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
        grid-auto-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        margin-top: 10px;
    }
}

//responsive css for dashboard
@media only screen and (max-width: 770px) {
    .dashboard {
        .card {
            height: 100%;
        }
    }
}

.account-content .account-action .control-group.date {
    width: 180px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;

    .control {
        width: 100%;
        margin: 0;
    }
}

.seller-central-container {
    .banner-container {
        position: relative;
        margin-bottom: 75px;

        img.banner {
            width: 100%;
            min-height: 500px;
        }

        .banner-content {
            display: inline-block;
            position: absolute;
            width: 60%;
            height: 60%;
            padding: 45px;
            top: 20%;
            right: 20%;
            background: rgba(255,255,255,0.55);
            text-align: center;

            h1 {
                margin: 0;
                font-size: 34px;
                color: #000000;
            }

            p {
                color: #000000;
                margin: 20px 0;
            }

            .btn {
                margin-top: 20px;
            }
        }
    }

    .feature-container {
        margin-bottom: 80px;
        text-align: center;

        .feature-heading {
            margin-bottom: 60px;

            h2 {
                font-size: 24px;
                color: #242424;
            }

            p {
                color: #5E5E5E;
                max-width: 600px;
                margin: auto;
            }
        }

        .feature-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
            grid-auto-rows: auto;
            grid-column-gap: 65px;
            grid-row-gap: 65px;

            li {
                img {

                }

                .feature-label {
                    color: #242424;
                    margin-top: 15px;
                }
            }
        }
    }

    .popular-sellers-container {
        margin-bottom: 80px;

        .popular-sellers-heading {
            font-size: 18px;
            color: #242424;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .popular-sellers-list {
            .popular-seller-item {
                width: 100%;
                border: 1px solid #E8E8E8;
                padding: 20px;
                margin-bottom: 10px;
                display: inline-block;

                &:last-child {
                    margin-bottom: 0;
                }

                .profile-information {
                    float: left;
                    margin-right: 40px;

                    .profile-logo-block {
                        width: 120px;
                        height: 120px;
                        float: left;
                        border-radius: 10px;
                        overflow: hidden;
                    }

                    .profile-information-block {
                        float: left;
                        margin-left: 20px;

                        .shop-title {
                            font-size: 24px;
                            display: block;
                            margin-bottom: 5px;
                        }

                        .social-links {
                            margin-top: 20px;
                            margin-left: -13px;
                        }

                        .btn {
                            margin-top: 20px;
                        }
                    }
                }

                .seller-products {
                    display: inline-block;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                    grid-auto-rows: auto;
                    grid-column-gap: 10px;
                    grid-row-gap: 5px;

                    .seller-product-item {
                        background: #f2f2f2;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .setup-step-container {
        text-align: center;
        margin-bottom: 40px;

        .setup-heading {
            margin-bottom: 60px;

            h2 {
                font-size: 24px;
                color: #242424;
            }

            p {
                color: #5E5E5E;
                max-width: 600px;
                margin: auto;
            }
        }

        .setup-step-list {
            display: inline-block;
            position: relative;
            text-align: left;

            &:before {
                width: 2px;
                height: 380px;
                position: absolute;
                content: "";
                background-color: #E8E8E8;
                z-index: -1;
                left: 30px;
                top: 5px;
            }

            li {
                width: 100%;

                .circle {
                    width: 64px;
                    height: 64px;
                    border: 1px solid #E8E8E8;
                    background: #ffffff;
                    line-height: 63px;
                    color: #5E5E5E;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 20px;
                    margin-bottom: 25px;
                    text-align: center;
                }

                &.active {
                    color: #0041ff;
                    border-color: #0041ff;

                    .circle {
                        background: #0041ff;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .open-shop-information-container {
        width: 100%;
        border: 1px solid #E8E8E8;
        padding: 40px;
        text-align: center;

        p {
            margin: 0;
            margin-bottom: 40px;
            color: #5E5E5E;
        }
    }
}

// responsive css for seller-center
@media only screen and (max-width: 700px) {
    .seller-profile-edit {
        flex-direction: column;
        height: 90px !important;
    }
}

@media only screen and (max-width: 530px) {
    .seller-profile-edit {
        flex-direction: column;
        height: 200px !important;

        .account-action {
            display: flex;
            flex-direction: column;

            .btn-lg {
                margin-top: 10px;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 1140px) {
    .seller-central-container {
        .banner-container {
            .banner-content {
                p {
                    margin: 10px 0;
                }

                .btn {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 775px) {
    .seller-central-container {
        .popular-sellers-container {
            .popular-sellers-list {
                .popular-seller-item {
                    display: flex;
                    flex-direction: column;

                    .profile-information {
                        float: none;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .banner-container {
            .banner-content {
                padding: 30px;

                h1 {
                    font-size: 28px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .seller-central-container {
        .banner-container {
            .banner-content {
                padding: 20px;
                width: 65%;
                height: 65%;
                top: 17.5%;
                right: 17.5%;

                h1 {
                    font-size: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .seller-central-container {
        .about-marketplace-container {
            div {
                display: flex !important;
                flex-direction: column !important;
                width: 100% !important;
                padding: 0px !important;
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .seller-central-container {
        .banner-container {
            .banner-content {
                padding: 20px;
                width: 70%;
                height: 70%;
                top: 15%;
                right: 15%;

                h1 {
                    font-size: 20px;
                }
            }
        }
    }
}

//control group resposive
@media only screen and (max-width: 770px){
    .control-group.date::after, .control-group.datetime::after {
        position: absolute;
        top: 33px;
        right: 3px;
    }
}
