.product-card {
    position: relative;
    width: 100%;
    max-width: calc(100% - 25px);
    /* padding-bottom: 7.8%; */
}

.product-card .card-info {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 2.375rem;
}

.product-card .card-info .info-area {
    position: relative;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.4rem 0.6rem 0.8rem 0.6rem;
}

.product-card .card-info .info-area .area-year,
.product-card .card-info .info-area .area-amount-of-records {
    height: 1rem;
}

.product-card .card-info .info-area .area-amount-of-records {
    height: 1rem;
    padding-right: 1.1rem;
}

.product-card .card-info .info-area .area-amount-of-records:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1rem;
    height: 1rem;
    background-image: url(../../../img/disc-plate.png);
    background-position: center;
    background-size: 1rem;
    background-repeat: no-repeat;
}

.product-card .card-info .info-image {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
    z-index: 1;
}

.product-card .card-info .info-image::before {
    content: "";
    float: left;
    padding-top: 100%;
}

.product-card .card-info .info-image .image-holder {
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    float: left;
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 110%;
}

.product-card .card-info .info-image .image-holder::before {
    content: "";
    float: left;
    padding-top: 100%;
}

.product-card .card-info .info-content {
    font-size: 0.85rem;
    font-weight: 500;
}

.product-card .card-info .info-content .content-title {
    max-height: 1.1875rem;
    padding-left: 0.5rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
}

.product-card .card-info .info-content .content-category {
    /* max-height: 1.05rem; */
    font-size: 1.05rem;
    font-family: Adobe Devanagari, sans-serif;
    font-style: italic;
    padding-left: 0.5rem;
    margin-bottom: 0.375rem;
    overflow: hidden;
}

.product-card .card-info .info-price-add-to-cart {
    position: absolute;
    left: 0rem;
    bottom: -2.375rem;
    height: 2.375rem;
    width: 100%;
    padding-left: 0;
}

.product-card .card-info .info-price-add-to-cart .info-price {
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0rem;
}

.product-card .card-info .info-price-add-to-cart .info-from-price {
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 0.5rem;
    padding-right: 0rem;
}

.product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
    display: inline-block;
    height: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
}

.product-card
    .card-info
    .info-price-add-to-cart
    .info-add-to-cart-form
    .add-to-cart-button {
    display: inline-block;
    background: #181b19;
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding-right: 40px;
    border: none;
}

.product-card
    .card-info
    .info-price-add-to-cart
    .info-add-to-cart-form
    .add-to-cart-button:after {
    content: "";
    width: 13px;
    height: 15px;
    transform: translateY(-50%);
    background-image: url(../../../img/icon-bag.png);
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 15px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .product-card:hover .card-info .info-area {
        border: 2px solid #181b19;
        width: 105%;
        left: -2.5%;
    }

    .product-card:hover .card-info .info-image {
        transform: scale(1.05);
        margin-bottom: 0.725rem;
    }

    .product-card:hover .card-info .info-image img {
        transform: scale(1.05);
    }

    .product-card .card-info .info-content::before {
        content: "";
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 4.2rem);
        border: 2px solid #181b19;
    }

    .product-card:hover .card-info .info-content::before {
        display: inline-block;
        width: calc(100% + 25px);
    }

    .product-card:hover .card-info .info-content .content-title {
        max-height: none;
        overflow: visible;
    }

    .product-card:hover .card-info .info-content .content-category {
        max-height: none;
        overflow: visible;
    }

    .product-card .card-info .info-price-add-to-cart {
        -ms-flex-align: end !important;
        align-items: end !important;
    }

    .product-card:hover .card-info .info-price-add-to-cart {
        -ms-flex-align: center !important;
        align-items: center !important;
        width: calc(100% + 25px);
    }

    .product-card:hover .card-info .info-price-add-to-cart .info-price {
        height: 100%;
        line-height: 2.25rem;
        border-left: 2px solid #181b19;
        border-bottom: 2px solid #181b19;
    }

    .product-card .card-info .info-price-add-to-cart .info-add-to-cart-form {
        display: none;
    }

    .product-card:hover
        .card-info
        .info-price-add-to-cart
        .info-add-to-cart-form {
        display: inline-block;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1336px) {
}
