.gallery-images {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: 2;
}

.gallery-images:after {
    content: "";
    position: absolute;
    background-color: #000;
    top: 78px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: -1;
}

.gallery-images .gallery-images-holder {
    width: 100%;
}

.gallery-images .gallery-images-holder figure {
    width: 100%;
}

.gallery-images .gallery-images-holder figure figcaption {
    font-size: 10px;
    color: #76787a;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin-top: 13px;
    position: relative;
    padding-left: 21px;
}

.gallery-images .gallery-images-holder figure img {
    width: 100%;
}

.gallery-images .gallery-images-navigator {
    -ms-flex-order: 0;
    order: 0;
    left: auto;
    bottom: auto;
    width: 100%;
    max-height: 100%;
    position: relative !important;
    margin: 0 auto;
    padding-right: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.gallery-images .gallery-images-navigator figure {
    width: 7.078rem;
    height: 7.078rem;
    overflow: hidden;
    padding-left: 0rem;
    padding-right: 0rem;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
}

.gallery-images .gallery-images-navigator figure img {
    padding: 0.5rem;
}

.gallery-images .gallery-images-navigator figure:after {
    width: 8rem;
    height: 8rem;
    content: "";
    border: 3px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-images .gallery-images-navigator figure::before {
    content: "";
    float: left;
    padding-top: 100%;
}

.gallery-images .gallery-images-navigator .slick-arrow {
    display: none !important;
}

@media (min-width: 992px) {
    .gallery-images .gallery-images-holder {
        max-width: 70%;
        margin: 0 auto;
    }

    .gallery-images .gallery-images-navigator {
        -ms-flex-order: -1;
        order: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 16%;
        height: 24rem;
        margin: 78px 0 auto 4%;
        overflow: hidden;
    }

    .gallery-images .gallery-images-navigator figure {
        width: 100%;
        height: 7rem;
        padding-left: 0;
        padding-right: 0;
        margin: 0.5rem 0 0.5rem 0;
    }

    .gallery-images .gallery-images-navigator figure:after {
        width: 100%;
        height: 7rem;
    }

    .gallery-images .gallery-images-navigator figure img {
        /* position: relative; */
        /* display: inline-block; */
        width: 100%;
        max-width: 100%;
        margin: auto 0;
    }

    .gallery-images .gallery-images-navigator .slick-list {
        /* height: 24rem;
        max-height: 24rem; */
    }

    .gallery-images .gallery-images-navigator .slick-list .slick-track {
        /* height: 24rem;
        max-height: 24rem; */
    }
}
