.container-product {
    padding-top: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.container-product.seller-product {
}

.container-product .product-details {
}

.container-product .text-header {
    font-family: Adobe Devanagari, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.container-product .product-details .details-title {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #181b19;
}

.container-product .product-details .details-artist {
    position: relative;
    font-family: Adobe Devanagari, sans-serif;
    font-size: 2.375rem;
    font-style: italic;
    color: #181b19;
    margin-bottom: 0.3125rem;
}

.container-product .product-details .details-artist .artist {
    position: relative;
    display: inline-block;
    background-color: #dadada;
    padding-right: 0.625rem;
    z-index: 1;
}

.container-product .product-details .details-artist::after {
    content: "";
    position: absolute;
    background-color: #181b19;
    width: 100%;
    height: 0.125rem;
    right: 0;
    bottom: 1.125rem;
}

.container-product .product-details .details-statistic,
.container-product .product-details .details-labels .details-label,
.container-product .product-details .details-formats .details-format {
    border-left: 2px solid #76787a;
}

.container-product .product-details .details-statistic.first,
.container-product .product-details .details-labels .details-label.first,
.container-product .product-details .details-formats .details-format.first {
    border-left: none;
}

.container-product .product-details .details-price-shipping .details-price {
    font-size: 2rem;
    font-weight: 500;
    color: #181b19;
}

.container-product
    .product-details
    .details-price-shipping
    .details-shipping-price {
    font-size: 0.8rem;
    font-weight: 500;
    color: #181b19;
}

.container-product .product-other-sellers {
    position: relative;
    height: 1rem;
    line-height: 1rem;
    padding-left: calc(15px + 1.5rem);
    cursor: pointer;
}

.container-product .product-other-sellers::before {
    content: "";
    position: absolute;
    background-image: url("../../../img/dropdown-arrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    left: 15px;
    top: 0px;
    width: 1.5rem;
    height: 1rem;
    transform: rotate(0deg);
    transition: transform 0.35s ease-in-out;
}

.container-product .product-other-sellers.collapse-open::before {
    transform: rotate(180deg);
}

.container-product .product-other-sellers-collapse .button.button-bag {
    min-width: auto;
}

.product-info {
    transition: max-height 0.35s ease-in-out, padding-bottom 0.35s ease-in-out;
}

.product-info {
    position: relative;
    background-color: #d0d0d0;
    width: 100%;
    padding-top: 85px;
    padding-bottom: 75px;
    height: auto;
    max-height: 32rem;
    overflow: hidden;
}

.product-info.open {
    max-height: 600rem;
    padding-bottom: 20rem;
}

.product-info:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 21.5px 0;
    border-color: #dadada transparent transparent;
    margin-left: -21px;
    position: absolute;
    top: 0;
    left: 50%;
}

.product-info .info-show-more {
    position: absolute;
    background: rgb(208, 208, 208);
    background: linear-gradient(
        0deg,
        rgba(208, 208, 208, 1) 60%,
        rgba(208, 208, 208, 0) 100%
    );
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20rem;
    line-height: 20rem;
}

.product-info .info-show-more .show-more {
    height: 100%;
    cursor: pointer;
}

.product-info .info-show-more .show-more .more-icon {
    font-size: 4rem;
    font-weight: 500;
    color: rgba(24, 27, 25, 0.2);
    margin-bottom: 2rem;
    transform: rotate(0deg);
    transition: transform 0.35s ease-in-out;
}

.product-info.open .info-show-more .show-more .more-icon {
    transform: rotate(180deg);
}

.product-info .info-show-more .more-icon:hover {
    color: rgba(24, 27, 25, 1);
}

.product-info .info-heading {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0;
    font-family: Poppins, sans-serif;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
    margin-right: 0rem;
    margin-bottom: 4.5rem;
}

.product-info .info-list {
    max-width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0rem;
}

.product-info .info-list .list-item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.45;
    font-weight: 500;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-bottom: 0.125rem;
}

.product-info .info-list .list-item p {
    margin-bottom: 0;
}

.product-info .info-list .list-item .item-col-1 {
    width: 42px;
    font-weight: 600;
    color: #76787a;
    text-decoration: underline;
}

.product-info .info-list .list-item .item-col-2 {
    width: calc(100% - 142px);
}

.product-info .info-list .list-item .item-col-3 {
    width: 100px;
    font-weight: 600;
    color: #76787a;
    text-align: right;
    text-decoration: none;
    padding-right: 5px;
}

.product-info .info-list .list-item .item-left {
    width: 160px;
    font-weight: 500;
    color: #76787a;
    text-decoration: underline;
}

.product-info .info-list .list-item .item-right {
    width: calc(100% - 160px);
}

.container-product .product-details {
}

.container-product .product-details {
}
