.container-seller-profile {
    margin-top: 4rem;
}

.container-seller-profile .seller-header {
    position: relative;
    background-size: cover;
    background-position: center center;
    min-height: 38vh;
    max-height: 38vh;
    margin-left: -15px;
    margin-right: -15px;
}

.container-seller-profile .seller-header .header-container {
    position: relative;
    min-height: 38vh;
    max-height: 38vh;
    width: 100%;
}

.container-seller-profile .seller-header .header-container .header-logo {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.container-seller-profile .seller-header .header-container .header-logo .logo {
    width: 20vw;
}
