<template>
  <div>
    <div class="card">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="title">Title</label>
            <!-- <input
              v-model="searchFormData.release_title"
              type="text"
              class="form-control"
              id="title"
              placeholder="Title"
            /> -->
              <vue-simple-suggest
                v-model="searchFormData.release_title"
                :list="suggestions.release_title"                
                >
                </vue-simple-suggest>

          </div>
          <div class="form-group col-md-4">
            <label for="artist">Artist</label>
            <!-- <input
              v-model="searchFormData.artist_name"
              type="text"
              class="form-control"
              id="artist"
              placeholder="Artist"
            /> -->
              <vue-simple-suggest
                v-model="searchFormData.artist_name"
                :list="suggestions.artist_name"                
                >
                <!--                 
 -->
            <!-- Filter by input text to only show the matching results -->
              </vue-simple-suggest>
          </div>
          <div class="form-group col-md-4">
            <label for="label">Label</label>
            <!-- <input
              v-model="searchFormData.label"
              type="text"
              class="form-control"
              id="label"
              placeholder="Label"
            /> -->
          <vue-simple-suggest
                v-model="searchFormData.label"
                :list="suggestions.label"                
                >
                              </vue-simple-suggest>

          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="catalog">Catalog #</label>
            <!-- <input
              v-model="searchFormData.cat_no"
              type="text"
              class="form-control"
              id="catalog"
              placeholder="Catalog #"
            /> -->
          <vue-simple-suggest
                v-model="searchFormData.cat_no"
                :list="suggestions.cat_no"                
                >
                              </vue-simple-suggest>

          </div>
          <div class="form-group col-md-4">
            <label for="barcode">Barcode</label>
            <!-- <input
              v-model="searchFormData.barcode"
              type="text"
              class="form-control"
              id="barcode"
              placeholder="Barcode"
            /> -->
                      <vue-simple-suggest
                v-model="searchFormData.barcode"
                :list="suggestions.cat_no"                
                >
                              </vue-simple-suggest>

          </div>
          <div class="form-group col-md-4">
            <label for="year">Year</label>
            <!-- <input
              v-model="searchFormData.released"
              type="text"
              class="form-control"
              id="year"
              placeholder="Year"
            /> -->
            <vue-simple-suggest
                v-model="searchFormData.released"
                :list="suggestions.released"                
                >
                              </vue-simple-suggest>

          </div>
          <!-- <div class="form-group col-12">
        <button class="btn btn-block btn-primary" @click="mongoMatch">SEARCH</button>
          </div>-->
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <div>
        <pulse-loader :loading="UX.loadingMatches" color="#0845F5" size="15px"></pulse-loader>
      </div>
    </div>

    <div v-if="UX.showMatches">
      <virtual-list :size="120" :remain="8">
        <ul class="list-group list-group-flush">
          <list-item
            v-for="(release, key) in matchedReleases"
            v-on:preFillForm="preFillForm"
            :key="key"
            :release="release"
            image="https://via.placeholder.com/100"
          />
        </ul>
      </virtual-list>
    </div>

    <hr />
    <div class="d-flex justify-content-center">
      <div>
        <pulse-loader :loading="UX.loadingReleaseForm" color="#0845F5" size="15px"></pulse-loader>
      </div>
    </div>
    <div v-if="UX.showReleaseForm">
      <!-- Render the picked release in a form -->
      <release-form
        v-on:cancle="cancleReleaseForm"
        v-on:success="handleSuccesfullImport"
        :release="prefilledFormData"
      ></release-form>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import virtualList from "vue-virtual-scroll-list";
import ListItem from "../components/ListItem";
import ReleaseForm from "../components/ReleaseForm";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import axios from "axios";
import VueSimpleSuggest from 'vue-simple-suggest'
import 'vue-simple-suggest/dist/styles.css'

export default {
  name: "ReleaseSearch",
  components: {
    "virtual-list": virtualList,
    "list-item": ListItem,
    "pulse-loader": PulseLoader,
    "release-form": ReleaseForm,
    "vue-simple-suggest": VueSimpleSuggest
  },
  computed: {
    // a computed getter
    jwt: function() {
      var x = document.querySelector('meta[name="jwt"]');
      // `this` points to the vm instance
      if (x) {
        return x.getAttribute("content");
      } else {
        return false;
      }
    }
  },
  data() {
    return {
      UX: {
        loadingMatches: false,
        showMatches: false,
        showReleaseForm: false,
        loadingReleaseForm: false
      },

      typingTimerId: null,
      doneTypingInterval: 250,

      searchFormData: {
        release_title: "",
        artist_name: "",
        released: "",
        barcode: "",
        label: "",
        cat_no: ""
      },

      prefilledFormData: {},

      matchedReleases: [],
      suggestions: {
        release_title: null,
        artist_name: null,
        released: null,
        barcode: null,
        label: null,
        cat_no: null
      }
    };
  },

  watch: {
    searchFormData: {
      handler(val, lav) {
        // console.log("typing...");
        // console.log(this.typingTimer);
        clearTimeout(this.typingTimerId);
        // clearTimeout(this.typingTimer);
        this.typingTimerId = setTimeout(() => {
          this.mongoMatch();
        }, this.doneTypingInterval);
      },
      deep: true
    }
  },
  mounted() {
    console.log("Release Search is mounted");
  },
  methods: {
    handleSuccesfullImport(swalBody) {
      Swal.fire(swalBody).then(() => {
        this.resetForm();
      });
    },
    swalFetchError(msg) {
      this.$swal({
        icon: "error",
        title: "Something went wrong",
        text: msg
      });
    },
    resetForm() {
      this.UX.loadingMatches = false;
      this.UX.showMatches = false;
      this.UX.showReleaseForm = false;
      this.UX.loadingReleaseForm = false;

      this.searchFormData = {
        release_title: "",
        artist_name: "",
        released: "",
        barcode: "",
        label: "",
        cat_no: ""
      };
    },
    mongoMatch: function() {
      this.UX.loadingMatches = true;

      // perform a match with input fields in our mongo database
      /**
       * axios
       * Set this.matchedReleases to the result array
       */
      const vm = this;

      const isEmpty = !Object.values(vm.searchFormData).some(
        x => x !== null && x !== ""
      );

      if (!isEmpty) {
        axios
          .post(
            `${window.location.origin}/api/release/search`,
            vm.searchFormData,
            {
              headers: {
                Authorization: "Bearer " + vm.jwt
              }
            }
          )
          .then(res => {
            // add matched releases to data for use in results list
            vm.matchedReleases = res.data.data.data;
            vm.suggestions = res.data.suggestions;

            vm.UX.showReleaseForm = false;
            vm.UX.loadingMatches = false;
            vm.UX.showMatches = true;
          })
          .catch(err => {
            const swalBody = err.response.data.swal;
            Swal.fire(swalBody);
            vm.UX.loadingMatches = false;
          });
      } else {
        // form is empty, clear search results
        vm.matchedReleases = [];
        this.UX.loadingMatches = false;
      }

      // ...
    },

    spreadSuggestions: function(suggestions) {
      // Set suggestions for artist_name
      if(suggestions.artist_name){
        this.suggestions.artist_name = suggestions.artist_name.map(a => a.options);
      }
    },

    // getArtistSuggestions(){
    //   console.log(this.suggestions.artist_name);
    //    return this.suggestions.artist_name;
    // },

    preFillForm: function(id) {
      this.UX.loadingReleaseForm = true;
      this.UX.showMatches = false;

      const vm = this;
      axios
        .get(`${window.location.origin}/api/release/find/${id}`, {
          headers: {
            Authorization: "Bearer " + vm.jwt
          }
        })
        .then(res => {
          // add release that was matched by id
          vm.prefilledFormData = res.data.data;

          vm.UX.loadingReleaseForm = false;
          vm.UX.showReleaseForm = true;
        })
        .catch(err => {
          console.log(err);
          vm.swalFetchError(err.message);
          vm.UX.loadingReleaseForm = false;
          vm.UX.showMatches = true;
        });
    },

    cancleReleaseForm: function() {
      // close form
      this.UX.showReleaseForm = false;

      // show release matches list
      this.UX.showMatches = true;

      // empty this.prefilledFormData
      // ..
    }
  }
};
</script>

<style>
@import url(https://cdn.syncfusion.com/ej2/material.css);
</style>
