@import "icons";

.navbar-left {
    width: 100px;

    ul.menubar li.menu-item {
        padding: 10px 7px;
    }
}

.content-container {
    padding-left: 100px;
}

progress.progression {
    width: 70%;
    height: 25px;
    margin: 15px 0px 0px 45px;
}
